<!DOCTYPE html>
<html lang="en">

<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="ACCU TOOL">
  <meta name="author" content="ACCU TOOL">
  <meta name="keyword" content="ACCU TOOL">
  <meta name="robots" content="noindex, nofollow">
  <title id="title_tool_name_pack">ACCU TOOL</title>
  <link rel="shortcut icon" href="/static/img/brand/mobifone.ico" type="image/x-icon">
  <!-- Icons-->
  <link href='{{ static ("/vendors/@coreui/icons/css/coreui-icons.min.css") }}' rel="stylesheet">
  <link href='{{ static ("/vendors/flag-icon-css/css/flag-icon.min.css") }}' rel="stylesheet">
  <link href='{{ static ("/vendors/font-awesome/css/font-awesome.min.css") }}' rel="stylesheet">
  <link href='{{ static ("/vendors/simple-line-icons/css/simple-line-icons.css") }}' rel="stylesheet">

  <!-- Main styles for this application-->
  <link href='{{ static ("/css/build/style-f3-1.css") }}?v=4' rel="stylesheet">
  <link href='{{ static ("/css/build/style-f11-7.css") }}?v=2' rel="stylesheet">
  <link href='{{ static ("/css/build/style-f11-9.css") }}?v=4' rel="stylesheet">
  <link href='{{ static ("/css/build/style-f12-3.css") }}?v=2' rel="stylesheet">
  <link href='{{ static ("/css/build/style-v001.css") }}?v=7' rel="stylesheet">
  <link href='{{ static ("/css/build/style-t001.css") }}?v=55' rel="stylesheet">
  <link href='{{ static ("/css/common.css") }}?t=18' rel="stylesheet">
  <link href='{{ static ("/css/bootstrap-select.css") }}?v=1' rel="stylesheet">
  <link href='{{ static ("/css/chosen.css") }}?v=5' rel="stylesheet">
  <link href='{{ static ("/css/chart.css") }}?v=5' rel="stylesheet">
  <link href='{{ static ("/vendors/pace-progress/css/pace.min.css") }}' rel="stylesheet">
  <link href='{{ static ("/vendors/datatables.net-bs4/css/dataTables.bootstrap4.css")}}' rel="stylesheet">
  <link href='{{ static ("/vendors/ladda/css/ladda-themeless.min.css")}}' rel="stylesheet">
  <link href='{{ static ("/css/tagsinput.css")}}' rel="stylesheet">
  <link href='{{ static ("/css/gijgo.min.css")}}' rel="stylesheet">
  <link href='{{ static ("/vendors/select2/css/select2.min.css")}}' rel="stylesheet">
  <link href='{{ static ("/css/amsify.suggestags.css")}}' rel="stylesheet">
  <link href='{{ static ("/vendors/spinkit/css/spinkit.css") }}' rel="stylesheet">
  <link href='{{ static ("vendors/quill/css/quill.snow.css") }}' rel="stylesheet">
  <link href='/static/css/fixedHeader.bootstrap4.min.css' rel="stylesheet">
  <link href="/static/css/daterangepicker.css" rel="stylesheet" type="text/css" />
  <script src="/static/js/canvasjs.min.js"></script>
  <script src='{{ static ("/vendors/jquery/js/jquery.min.js") }}'></script>
  <script src='{{ static ("/js/kendo.all.min.js") }}?v=1'></script>
  <script src='{{ static ("/js/build/common.js") }}?v=15'></script>
  <script src="{{ static ('/js/amcharts_core.js') }}"></script>
  <script src="{{ static ('/js/amcharts_charts.js') }}"></script>
  <script src="{{ static ('/js/amcharts_animated.js') }}"></script>

  {%block link%}{%endblock%}
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed">

  {% include 'base/header.html' %}

  <div class="app-body">

    {% include 'base/sidebar.html' %}

    <main class="main" style="background-color: #fff;">
      <!-- Do not modified block check_login, this only use for registration/base.html -->
      {% block check_login%}
        {% if request.user.is_authenticated %}
          <ol class="breadcrumb" style="margin-bottom: 0;">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% block breadcrumb %}{% endblock %}

            <li class="breadcrumb-menu d-md-down-none">
              <div class="btn-group" role="group" aria-label="Button group">
              {% if request.session.customer_name %}
                <span>{{request.session.customer_name}}({{request.user.username}})</span>
              {% else %}
                {{request.user.username}}</span>
              {% endif %}
                
              </div>
            </li>
          </ol>
          {% else%}
          <meta http-equiv="refresh" content="0; url={{url('login')}}" />
        {% endif %}
      {% endblock check_login %}
      
      <!-- Show message -->
      {% include 'base/message.html' %}
      
      <!-- Check URL to set style of page -->
      {% set endpoint_url = request.path.split('/') %}
      
      {% if endpoint_url|last == "create" or endpoint_url|last == "update$" or endpoint_url|last == "delete$" %}   
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="card-group" style="padding-top: 150px">
                <div class="card card-login p-4">
                  <div class="card-body">
                    {% block body %}{% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      {% else %}
        {%block main%}{%endblock%}
      {% endif %}

    </main>

    <input type="hidden" value="{{request.session.site_id}}" id="site_id_in_session">
    <input type="hidden" value="{{user.is_superuser}}" id="permission">
    <input type="hidden" value="{{request.user.groups.filter(name='MS_User').exists()}}" id="permission_ms">

  </div>

  {% include 'base/footer.html' %}

  <!-- CoreUI and necessary plugins-->
  <script src='{{ static ("/vendors/popper.js/js/popper.min.js") }}'></script>
  <script src='{{ static ("/vendors/bootstrap/js/bootstrap.min.js") }}'></script>
  <script src='{{ static ("/vendors/pace-progress/js/pace.min.js") }}'></script>
  <script src='{{ static ("/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js") }}'></script>
  <script src='{{ static ("/vendors/@coreui/coreui/js/coreui.min.js") }}'></script>

  <!-- Plugins and scripts required by this view-->
  <script src='{{ static ("/vendors/datatables.net/js/jquery.dataTables.js")}}'></script>
  <script src='{{ static ("/vendors/datatables.net-bs4/js/dataTables.bootstrap4.js")}}'></script>
  <script src='{{ static ("/js/datatables.js")}}'></script>

  <script src='{{ static ("/vendors/ladda/js/spin.min.js")}}'></script>
  <script src='{{ static ("/vendors/ladda/js/ladda.min.js")}}'></script>
  <script src='{{ static ("/vendors/jquery.maskedinput/js/jquery.maskedinput.js")}}'></script>

  <script src='{{ static ("/vendors/chart.js/js/Chart.min.js") }}'></script>
  <script src='{{ static ("/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js") }}'></script>
  <script src='{{ static ("/vendors/moment/js/moment.min.js")}}'></script>
  <script src='{{ static ("/vendors/bootstrap-daterangepicker/js/daterangepicker.js") }}' type="text/javascript" class="view-script"></script>
  <script src='{{ static ("/js/chosen.jquery.min.js") }}?v=16'></script>
  <script src='{{ static ("/vendors/select2/js/select2.min.js") }}'></script>
  <script src='{{ static ("/js/advanced-forms.js") }}'></script>
  <script src='{{ static ("/js/tagsinput.js") }}'></script>
  <script src='{{ static ("/js/gijgo.min.js") }}'></script>
  <script src='{{ static ("/js/pie-chart.js") }}'></script>
  <script src='{{ static ("/js/calendar_handle.js") }}?v=3'></script>
  <script src='{{ static ("/js/bootstrap-select.js") }}?v=1'></script>
  <script src='{{ static ("/js/jquery.amsify.suggestags.js")}}'></script>

  <!-- JS Handle -->
  <script src='{{ static ("/js/build/chart.js") }}?v=22'></script>
  <script src='{{ static ("/js/build/character.js") }}?v=2'></script>
  <script src='{{ static ("/js/build/dataTable.js") }}?v=13'></script>
  <script src='{{ static ("/js/build/notification.js") }}'></script>
  <script src='{{ static ("/js/build/validate.js") }}?v=22'></script>
  <script src='{{ static ("/js/build/calendar_handle.js") }}?v=6'></script>
  <script src='{{ static ("/js/build/message.js") }}?v=6'></script>
  <script src='{{ static ("/js/build/loading-bar.js") }}?v=16'></script>
  <script src='{{ static ("/js/build/select.js") }}?v=7'></script>
  <script src='{{ static ("/js/build/sidebar.js") }}?v=1'></script>
  <script src='{{ static ("/js/build/sortable.js") }}?v=1'></script>
  <script src='{{ static ("/js/dataTables.fixedHeader.min.js") }}'></script>

  {% block script %}{% endblock %}

  <script src='{{ static ("js/run-all.js") }}?v=4'></script>
</body>

</html>