<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

      <!-- ======================================================== -->
      <!-- ======================= Admin User ===================== -->
      <!-- ======================================================== -->
      {% if request.user %}
        {% include 'base/sidebar/admin.html' %}
      {% endif %}


    </ul>
  </nav>
</div>