
<li class="nav-title">Menu</li>
<li class="nav-item">
  <a class="nav-link" href="{{url('index_ms')}}">
    <i class="nav-icon fa fa-book"></i>Time MS</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{url('index_md')}}">
    <i class="nav-icon fa fa-suitcase"></i> Time MĐ</a>
</li>
  
<li class="nav-item">
  <a class="nav-link" href="{{url('index_mpd')}}">
    <i class="nav-icon fa fa-suitcase"></i> Time MPD</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{url('index_accu')}}">
    <i class="nav-icon fa fa-suitcase"></i> Time ACCU</a>
</li>  

<li class="nav-item">
  <a class="nav-link" href="{{url('index_log')}}">
    <i class="nav-icon fa fa-suitcase"></i> Import Data Site SOH</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{url('index-site')}}">
    <i class="nav-icon fa fa-suitcase"></i> Site Imported</a>
</li>  

<li class="nav-item">
  <a class="nav-link" href="{{url('index-site-data')}}">
    <i class="nav-icon fa fa-suitcase"></i>SOH Data</a>
</li>  

<li class="nav-item">
  <a class="nav-link" href="{{url('site_map')}}">
    <i class="nav-icon fa fa-suitcase"></i> Site Map</a>
</li>  

<li class="nav-item">
  <a class="nav-link" href="{{url('mpd_map')}}">
    <i class="nav-icon fa fa-suitcase"></i> Máy Phát Điện Map</a>
</li> 
