<div style='display: block;
              overflow-x: auto;
              '>

<table class="table" id="table-data-preview">
    <thead>
      <tr>
        <th scope="col" class="col-3">SITE ID</th>
        <th scope="col" class="col-3">Mã đối tượng cha</th>
        <th scope="col" class="col-3">Tên đối tượng cha</th>
        <th scope="col" class="col-3">Mã đối tượng</th>
        <th scope="col" class="col-3">Tên đối tượng</th>
        <th scope="col" class="col-3">Mã QR</th>
        <th scope="col" class="col-3">Đơn vị chủ quản ATS</th>
        <th scope="col" class="col-3">Ngày đưa vào sử dụng</th>
        <th scope="col" class="col-3">Serial ATS</th>
        <th scope="col" class="col-3">Nhãn hiệu ATS</th>
        <th scope="col" class="col-3">Loại TB ATS</th>
        <th scope="col" class="col-3">Trạng thái</th>
        <th scope="col" class="col-3">Product_code ATS</th>
        <th scope="col" class="col-3">Thời hạn bảo dưỡng</th>
        <th scope="col" class="col-3">Thời hạn bảo hành</th>
      </tr>
    </thead>
    <tbody>
      {%for item in list_data %}
        <tr class="list-cta">
          <td class="cta-id">{{item.header_1}}</td>
          <td class="cta-id">{{item.header_2}}</td>
          <td class="cta-id">{{item.header_3}}</td>
          <td class="cta-id">{{item.header_4}}</td>
          <td class="cta-id">{{item.header_5}}</td>
          <td class="cta-id">{{item.header_6}}</td>
          <td class="cta-id">{{item.header_7}}</td>
          <td class="cta-id">{{item.header_8}}</td>
          <td class="cta-id">{{item.header_9}}</td>
          <td class="cta-id">{{item.header_10}}</td>
          <td class="cta-id">{{item.header_11}}</td>
          <td class="cta-id">{{item.header_12}}</td>
          <td class="cta-id">{{item.header_13}}</td>
          <td class="cta-id">{{item.header_14}}</td>
          <td class="cta-id">{{item.header_15}}</td>          
        </tr> 
      {% endfor %}
    </tbody>
  </table>
</div>  