<div style='display: block;
              overflow-x: auto;
              '>

<table class="table" id="table-data-preview">
    <thead>
      <tr>
        <th scope="col" class="col-3">SITE ID</th>
        <th scope="col" class="col-3">Mã đối tượng tủ nguồn</th>
        <th scope="col" class="col-3">Tên đối tượng</th>
        <th scope="col" class="col-3">Mã QR</th>
        <th scope="col" class="col-3">Serial tủ nguồn</th>
        <th scope="col" class="col-3">Thời gian backup</th>
        <th scope="col" class="col-3">Dòng tải</th>
        <th scope="col" class="col-3">IRD</th>
        <th scope="col" class="col-3">IRSX</th>
        <th scope="col" class="col-3">IXA</th>
        <th scope="col" class="col-3">TIMEXA</th>
        <th scope="col" class="col-3">DDM</th>

      </tr>
    </thead>
    <tbody>
      {%for item in list_data %}
        <tr class="list-cta">
          <td class="cta-id">{{item.header_1}}</td>
          <td class="cta-id">{{item.header_2}}</td>
          <td class="cta-id">{{item.header_3}}</td>
          <td class="cta-id">{{item.header_4}}</td>
          <td class="cta-id">{{item.header_5}}</td>
          <td class="cta-id">{{item.header_6}}</td>
          <td class="cta-id">{{item.header_7}}</td>
          <td class="cta-id">{{item.header_8}}</td>
          <td class="cta-id">{{item.header_9}}</td>
          <td class="cta-id">{{item.header_10}}</td>
          <td class="cta-id">{{item.header_11}}</td>
          <td class="cta-id">{{item.header_12}}</td>         
        </tr> 
      {% endfor %}
    </tbody>
  </table>
</div>  