<header class="app-header navbar">
  <a class="navbar-brand" href="/">
    <img class="navbar-brand-full" src='{{ static ("/img/logo/accu-logo.svg") }}' width="89" height="25" alt="accu">
    <img class="navbar-brand-minimized" src='{{ static ("/img/brand/favicon.ico") }}' width="25" height="25" alt="CoreUI Logo">
  </a>


  <ul class="nav navbar-nav ml-auto">
    <li>
      <a class="nav-link pr-4 text-center" target="_blank" href="/guide">
        <i class="fa fa-book" aria-hidden="true" style="font-size: 18px;"></i>
        <span>guide</span>
      </a>
    </li>
    <li>
      <a class="nav-link pr-4 text-center" target="_blank" href="https://www.accu.net/microsoft/contact">
        <i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 18px;"></i>
        <span>Contact</span>
      </a>
    </li>
    {% if not request.user.is_authenticated %}
    <li>
      <a class="nav-link pr-4 text-center"href="/accounts/login/">
        <i class="fa fa-sign-in" aria-hidden="true" style="font-size: 18px;"></i>
        <span>Login</span>
      </a>
    </li>
    {% endif %}
  </ul>
</header>
