{% extends 'base/base.html' %}

{% block link %}
<style>

</style>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <h1 class="pt-4 font-weight-bold text-mobi mb-3">
        Summary ACCU
    </h1>

    <div class="row">
        <div class="col-12">
            <div class="table-loading">
                <div class="row position-relative">
                    <div class="col-12">
                        
                        <div class="row">
                            <div class="col-10 d-flex">
                                <select class="form-control form-control-toolbar form-control-sm mr-3" id="time-duration"
                                    onchange="load_data()">
                                    <option value="-1">- Time duration -</option>
                                    <option value="1" {{ "selected" if request.GET.get('type')=='1' }}>0-5</option>
                                    <option value="2" {{ "selected" if request.GET.get('type')=='2' }}>5-15</option>
                                    <option value="3" {{ "selected" if request.GET.get('type')=='3' }}>15-30</option>
                                    <option value="4" {{ "selected" if request.GET.get('type')=='4' }}>30-60</option>
                                    <option value="5" {{ "selected" if request.GET.get('type')=='5' }}>more than 60</option>
                                </select>

                                <div id="reportrange" class="mr-3">
                                    <i class="fa fa-calendar"></i>&nbsp; <span></span>
                                    <i class="fa fa-caret-down"></i>
                                </div>

                                <button class="btn btn-light border btn-sm button-daterange-and-btn" onclick="load_data()" style="pointer-events: auto; opacity: 1; height: 28px;">Load data</button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-light border btn-sm float-right mb-2" onclick="download_summary_accu();">
                                    <i></i>Export Excel
                                </button>
                            </div>
                        
                        </div>
    
                    </div>
    
                    <div class="col-12 mt-2" id='data-content-accu'>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>


{% endblock main %}

{% block script %}
<script type="text/javascript">

    function load_data(){
        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
         // Get Data From URL
         var params = new URLSearchParams(window.location.search);
        var _page = 1
        var _page_size = 50
        if(params.get("page")){
        _page = parseInt(params.get("page"))
        }

        if(params.get("page_size")){
        _page_size = parseInt(params.get("page_size"))
        }

        if(params.get("start_date")){
            _start_date = params.get("start_date");
        }

        if(params.get("end_date")){
            _end_date = params.get("end_date");
        }

        disable_element($(" .table-loading"));
        $.ajax({
        type: "POST",
        url: "/get-data-accu",
        dataType: "html",
        data : {
            "start_date" : _start_date,
            "end_date" : _end_date,
            'page': _page,
            'page_size': _page_size,
            'csrfmiddlewaretoken': '{{ csrf_token }}' 
        },
        success : function(response) {
            enable_element($(" .table-loading"));
            $('#data-content-accu').html(response);

        },
        error: function(xhr, status, e) {

        }
        });


    }

    $(document).ready(function () {

        initCalendar();
        var params = new URLSearchParams(window.location.search);
        var _start_date = '{{current_start_time}}';
        var _end_date = '{{current_end_time}}';
        if(params.get("start_date")){
            _start_date = params.get("start_date");
        }

        if(params.get("end_date")){
            _end_date = params.get("end_date");
        }
        $("#reportrange span").html( _start_date+ " - " + _end_date);

        //Load data
        load_data();


    });

    function initCalendar() {
        init_calendar("reportrange");
        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
    }


</script>
{% endblock %}