{% extends 'base/base.html' %}

{% block link %}
<style>
    .daterangepicker {
        width: 488px !important;
        right: auto !important;
    }

    .daterangepicker.opensleft:after {
        right: 420px !important;
    }

    .daterangepicker.opensleft:before {
        right: 419px !important;
    }
</style>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="pt-4 px-3 font-weight-bold text-mobi mb-0">
                Summary
            </h2>
        </div>
        <div class="col-12 mt-3">
            <div class="table-loading">
                <div class="row position-relative">
                    <div class="col-10">
                        <div class="d-flex">
                            <div class="d-inline mr-3">
                                <!-- Start date -->
                                <div class="input-group input-group-sm ml-3 mb-3 wrap-input-daterange">
                                    <input class="form-control form-control-sm" type="text" id='time-select' name="daterange" value="10/01/2021 - 10/30/2021" />
                                    <div class="input-group-append icon-fa-calendar">
                                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="d-inline">
                                <button class=" border btn-sm button-daterange-and-btn" onclick="load_data()" style="pointer-events: auto; opacity: 1;">
                                    <i class="fa fa-play-circle mr-1"></i>Load data
                                </button>
                            </div>
                        </div>


                    </div>
                    <div class="col-2">
                        <button class="btn btn-light border btn-sm text-right float-right mb-2 mr-3" onclick="download_summary();">
                            <i class="fa fa-download mr-1"></i>Export Excel
                        </button>
                    </div>
    
                    <div class="col-12" id='data-content-summary'>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
<script type="text/javascript">

    function load_data(){
        var start_date = $('#time-select').data('daterangepicker').startDate.format('YYYY-MM-DD');
        var end_date = $('#time-select').data('daterangepicker').endDate.format('YYYY-MM-DD');
        //var time_duration = $("#time-duration").val()

        // Get Data From URL
        var params = new URLSearchParams(window.location.search);
        var _page = 1
        var _page_size = 50
        if(params.get("page")){
        _page = parseInt(params.get("page"))
        }

        if(params.get("page_size")){
        _page_size = parseInt(params.get("page_size"))
        }

        if(params.get("start_date")){
            start_date = params.get("start_date");
        }

        if(params.get("end_date")){
            end_date = params.get("end_date");
        }

        disable_element($(" .table-loading"));
        $.ajax({
        type: "POST",
        url: "/get-data-summary",
        dataType: "html",
        data : {
            "start_date" : start_date,
            "end_date" : end_date,
            'page' : _page,
            'page_size' : _page_size,
           // "time_duration" : time_duration,
            'csrfmiddlewaretoken': '{{ csrf_token }}' 
        },
        success : function(response) {
            enable_element($(" .table-loading"));
            $('#data-content-summary').html(response);

        },
        error: function(xhr, status, e) {

        }
        });


    }

    $(document).ready(function () {

        //Init calendar
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });

        $('.icon-fa-calendar').click(function() {
            $('input[name="daterange"]').focus()
        })

        //Load data
        load_data();


    });


</script>
{% endblock %}