{% extends 'base/base.html' %}

{% block link %}
<style>
    .canvas-minute {
        margin-bottom: 40px !important;
    }
</style>
{% endblock %}

{% block main %}
<div class="row mt-4 mx-4">
    <div class="col-12">
        <div id="main-content" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="py-2 font-weight-bold text-mobi">
                        DASHBOARD
                    </h2>
                </div>
            </div>

            <div class="row pl-3">
                <div id="reportrange" class="col-2">
                    <i class="fa fa-calendar"></i>&nbsp; <span></span>
                    <i class="fa fa-caret-down"></i>

                </div>
                <div class="col-4">
                    <div class="border-right d-inline-block" style="width: 93px">
                        <button class=" border btn-sm button-daterange-and-btn" onclick="change_date()" style="pointer-events: auto; opacity: 1;">Load data</button>
                    </div>

                    <select class="form-control form-control-toolbar form-control-sm ml-3" id="id_type" onchange="add_param()">
                        <option value="1" >- Đài -</option>
                        <option value="2" {{ "selected" if request.GET.get('type') == '2' }}>- Tỉnh -</option>
                        <option value="3" {{ "selected" if request.GET.get('type') == '3' }}>- Huyện -</option>
                    </select>


                    <div class="d-none" id='select_provice'>
                        <select class="form-control form-control-toolbar form-control-sm ml-3" id="id_provice" onchange="add_param()">
                            <option value="-1" >- ALL Tỉnh -</option>
                            {% for provice in list_provices  %}
                                <option value="{{loop.index -1}}" {{ "selected" if request.GET.get('provice') == (loop.index -1)|string }}>{{provice}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    
                </div>

                <div class="col-2"></div>
                <div class="col-4"></div>
            </div>

            <div class="row" style="margin-top: 20px;" id="box-2g">
                <div class="col-8"></div>
                <div class='col-4' id="div-provice"></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h4 class="ml-4 mb-3">CHẤT LƯỢNG ACQUY THEO LOẠI (2,3,4)G</h4>
                    </div>
                    <div class="row">
                        <div class="p-0 col-4" id="power-off-2G" >
                            {% include 'apps/accu_dashboard/detail-dashboard/power-off-2G.html' %}
                        </div>
        
                        <div class=" col-4 p-0" id="power-off-3G" >
                            {% include 'apps/accu_dashboard/detail-dashboard/power-off-3G.html' %}
                        </div>
        
                        <div class=" col-4 p-0" id="power-off-4G" >
                            {% include 'apps/accu_dashboard/detail-dashboard/power-off-4G.html' %}
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function change_date() {
        disable_element($("#main-content"));
        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
        window.location.search = `?start_date=${_start_date}&end_date=${_end_date}`



    };

    $(document).ready(function () {

        initCalendar();

        $("#reportrange span").html('{{current_start_time}}' + " - " + '{{current_end_time}}');

        var type = $("#id_type").val();

        // Check provice 
        if(type==3){
            $('#select_provice').addClass('d-inline-block');
            $('#select_provice').removeClass('d-none');
        }else{
            $('#select_provice').removeClass('d-inline-block');
            $('#select_provice').addClass('d-none');
        }


    });

    function initCalendar() {
        init_calendar("reportrange");
        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
    }

    function add_param() {
        //disable_element($(".table-loading"));
        var type = $("#id_type").val();

        var id_provice = $('#id_provice').val()


        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
        window.location.search = `?type=${type}&start_date=${_start_date}&end_date=${_end_date}&provice=${id_provice}`


        
    };



$('#id_provice').select2({
  theme: 'bootstrap',
  placeholder: 'Select Provice',
  allowClear: false
});



</script>

{% endblock main %}