{% extends 'base/base.html' %}

{% block main %}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-12">
            <h2 class="pt-2 font-weight-bold pl-3 mb-0 text-mobi">
                Summary MD
            </h2>
        </div>
        <div class="col-12">
            <div class="table-loading">
                <div class="row mx-3 position-relative mt-3">
                    <div class="col-10 pl-0">
                        <div class="d-flex">
                            <div class="d-inline mr-3">
                                <div id="reportrange">
                                    <i class="fa fa-calendar"></i>&nbsp; <span></span>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="d-inline">
                                <button 
                                    class=" border btn-sm button-daterange-and-btn" 
                                    onclick="load_data()" 
                                    style="pointer-events: auto; opacity: 1;">
                                    <i class="fa fa-play-circle mr-1"></i>Load data
                                </button>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-2">
                        <button class="btn btn-light border btn-sm float-right mb-2" onclick="download_summary_md();">
                            <i class="fa fa-download mr-1"></i>Export Excel
                          </button>
                    </div>
    
                    <div class="col-12 pl-0" id='data-content-md'>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
<script type="text/javascript">

    function load_data(){
        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
         // Get Data From URL
         var params = new URLSearchParams(window.location.search);
        var _page = 1
        var _page_size = 50
        if(params.get("page")){
            _page = parseInt(params.get("page"));

        }

        if(params.get("start_date")){
            _start_date = params.get("start_date");
        }

        if(params.get("end_date")){
            _end_date = params.get("end_date");
        }

        if(params.get("page_size")){
        _page_size = parseInt(params.get("page_size"))
        }

        disable_element($(" .table-loading"));
        $.ajax({
        type: "POST",
        url: "/get-data-md",
        dataType: "html",
        data : {
            "start_date" : _start_date,
            "end_date" : _end_date,
            'page' : _page,
            'page_size' : _page_size,
            'csrfmiddlewaretoken': '{{ csrf_token }}' 
        },
        success : function(response) {
            enable_element($(" .table-loading"));
            $('#data-content-md').html(response);

        },
        error: function(xhr, status, e) {

        }
        });


    }

    $(document).ready(function () {

        initCalendar();
        var params = new URLSearchParams(window.location.search);
        var _start_date = '{{current_start_time}}';
        var _end_date = '{{current_end_time}}';
        if(params.get("start_date")){
            _start_date = params.get("start_date");
        }

        if(params.get("end_date")){
            _end_date = params.get("end_date");
        }
        $("#reportrange span").html( _start_date+ " - " + _end_date);

        //Load data
        load_data();


    });

    function initCalendar() {
        init_calendar("reportrange");
        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
    }


</script>
{% endblock %}