{% extends 'base/base.html' %}

{% block main %}

<div class="container-fluid">
  <h2 class="pt-4 font-weight-bold text-mobi">
      Site Data Import Info
  </h2>

  <div class="row mt-2 mx-0">
    <div class="col-12">
        <div class="table-loading">
            <div class="row position-relative">
                <div class="col-12 custom-datatable-toolbar pr-0">
                  <a 
                    class="btn btn-light border btn-sm float-right" target="_blank" 
                    href="{{url('index-site-data')}}"
                  >
                    SOH Data
                  </a>
                </div>
  
                <div class="col-12 p-0" id='data-soh'>
                  {% include 'apps/accu_dashboard/modal/table_soh.html' %}
                </div>
            </div>
  
        </div>
    </div>
  </div>  
</div>


{% endblock main %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock %}