{% extends 'base/base.html' %}

{% block main %}

<div class="container-fluid">
  <h2 class="pt-4 font-weight-bold text-mobi">
      Cabinets Source Data
  </h2>

  <div class="row">
  
    <div class="col-12">
        <div class="table-loading">
            <div class="row mx-3 position-relative">
                <div class="col-12">
                  <button class="btn btn-light border btn-sm float-right ml-2" 
                          data-toggle="modal"  
                          data-target="#exampleModal"
                          >
                          <i></i>Import Data
                  </button>
                </div>
            </div>
  
            <div class="col-12 pl-0 mt-3" id='data-content-cabinet'>
            </div>
  
        </div>
    </div>
  </div>
</div>



{% include 'apps/accu_dashboard/modal/modal_import.html' %}


{% endblock main %}

{% block script %}
<script type="text/javascript">
  function load_data(){

         // Get Data From URL
        var params = new URLSearchParams(window.location.search);
        var _page = 1
        var _page_size = 50
        if(params.get("page")){
        _page = parseInt(params.get("page"))
        }

        if(params.get("page_size")){
        _page_size = parseInt(params.get("page_size"))
        }

        disable_element($(" .table-loading"));
        $.ajax({
        type: "POST",
        url: "/get-data-cabinet",
        dataType: "html",
        data : {
            'page' : _page,
            'page_size' : _page_size,
            'csrfmiddlewaretoken': '{{ csrf_token }}' 
        },
        success : function(response) {
            enable_element($(" .table-loading"));
            $('#data-content-cabinet').html(response);

        },
        error: function(xhr, status, e) {

        }
        });


    }

    $(document).ready(function () {
        //Load data
        load_data();
    });

</script>
{% endblock %}