{% extends 'base/base.html' %}

{% block main %}

<div class="container-fluid">
  <h2 class="pt-4 font-weight-bold text-mobi">
      Site Data Info
  </h2>

  <div class="row mx-0">
  
    <div class="col-12">
        <div class="table-loading">
            <div class="row position-relative">
                <div class="col-12 custom-datatable-toolbar">
  
                </div>
  
                <div class="col-12 p-0" id='data-soh'>
                  {% include 'apps/accu_dashboard/modal/table_soh_convert.html' %}
                </div>
            </div>
  
        </div>
    </div>
  </div>
</div>

{% endblock main %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {

var option_addition = {
  fixedHeader: {
      header: true,
      headerOffset: $('header').height(),
      pageLength: 50,
  }
}

var table = $('#table_soh_convert').DataTable(get_option_datatable(option_addition))

show_sort_datatable(table)


});

function reset_page(param){
  
  if (param['self'] == 'sort') {
    if (param['sort_column'] == _sort_column) {
      param = {...param, 'sort_type': change_sort_type(_sort_type)}
    } else {
      param = {...param, 'sort_type': 'asc'}
    }

    change_sort();
  }

  var param_filter = ""
  var params = new URLSearchParams(window.location.search);
  var json_param = Object.fromEntries(params);
  const key_param_data_table = ["search", "page_size", "sort_column", "sort_type", "page"];

  for (const key in json_param) {
    if(! key_param_data_table.includes(key)){
      param_filter = param_filter.concat(`&${key}=${json_param[key]}`);
    }
  }

  var pathname = window.location.pathname;
  url = `${pathname}?search=${param['search']}&page=${param['page']}&page_size=${param['page_size']}&sort_column=${param['sort_column']}&sort_type=${param['sort_type']}${param_filter}`
  location.replace(url);
}

// Reload URL
function change_url_filter_not_reload(url_search) {
  var newRelativePathQuery = window.location.pathname + url_search;
  history.pushState(null, '', newRelativePathQuery);
}
</script>
{% endblock %}