{% extends 'base/base.html' %}

{% block main %}

<div class="container-fluid">
  <h1 class="pt-4 font-weight-bold text-mobi">
      Import Site Data Log
  </h1>

  <div class="row m-0">
    <div class="col-12">
        <div class="table-loading">
            <div class="row position-relative">
                <div class="col-12 custom-datatable-toolbar pr-0">
                  <button class="btn btn-light border btn-sm float-right ml-2 mb-3" 
                  data-toggle="modal"  
                  data-target="#exampleModal"
                  >
                  <i class="fa-regular fa-file-import"></i>Import Data
                </button>
                </div>
  
                <div class="col-12 p-0" id='data-log'>
                  {% include 'apps/accu_dashboard/modal/table_log.html' %}
                </div>
            </div>
  
        </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block script %}
{% include 'apps/accu_dashboard/modal/modal_import.html' %}
<script type="text/javascript">

  function del_log(log_id) {
    var r = confirm("Are you sure")
    if (r==true) {
      $.ajax({
              type: "POST",
              url: "/del-log",
              dataType: "html",
              data: {
                log_id: log_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
              },
              success: function (response) {
                location.reload();
              },
              error: function (xhr, status, e) {
              }
        });
    }
  }

</script>
{% endblock %}