{% extends 'base/base.html' %}
{% block main %}

<div class="container">
    <h1 class="pt-4 text-center font-weight-bold text-primary">
        Site Map
    </h1>
</div>



<div class="row mt-4 mx-4">
    <button class=" border btn-sm button-daterange-and-btn" onclick="update_map()" style="pointer-events: auto; opacity: 1;">Update map</button>


    <div class="col-12">
        <div id="main-content" class="container">
            <div id="map" style="width:100%;height:800px;"></div>
        </div>
    </div>
</div>


<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV0TyfAqwwmvXdWR593YIBdfE4OHx2MFg&libraries=places&callback=initMap">
</script>
<script type="text/javascript">


$(document).ready(function () {

});
const image_icon_marker ="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
let map;
let markers = [];

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 16.0692333, lng: 108.2047937 },

    zoom: 8,
  });
  

  new google.maps.Marker({
    position: { lat: 16.0692333, lng: 108.2047937 },
    map,
    icon: image_icon_marker,
    title:'site abc',
  });

}


function update_map(){
    clearMarkers();

    console.log("trungngngn");
    var list_location_marker = [
        { lat: 16.0692333, lng: 108.2047937 },
        { lat: 17.0692333, lng: 108.2147937 },
        { lat: 16.0792333, lng: 108.2347937 },
        { lat: 16.0892333, lng: 108.1947937 },
    ];
    list_location_marker.forEach((element, index) => {
        addMarkerWithTimeout(element, index*200)
    });
};


function addMarkerWithTimeout(position, timeout) {
  window.setTimeout(() => {
    markers.push(
      new google.maps.Marker({
        position: position,
        map,
        animation: google.maps.Animation.DROP,
        title:'site abc' ,

      })
    );
  }, timeout);
}

function clearMarkers() {
  for (let i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }

  markers = [];
};


window.initMap = initMap;



</script>
{% endblock main %}


