<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 300px;
    }
</style>

<div class="row mx-3 position-relative table-loading">
    <div class="row" style="margin-top: 20px;">
        <div class="col-8">

        <select class="form-control form-control-toolbar form-control-sm" id="id_type" onchange="add_param()">
            <option value="1" >- Đài -</option>
            <option value="2" {{ "selected" if request.GET.get('type') == '2' }}>- Tỉnh -</option>
            <option value="3" {{ "selected" if request.GET.get('type') == '3' }}>- Huyện -</option>
        </select>

        </div>
        <div class='col-4' id="div-provice">
            <select class="form-control form-control-toolbar form-control-sm" id="id_provice" onchange="add_param()">
                <option value="" >- Provice -</option>
                {% for provice in list_provices %}
                    <option value="{{provice}}" {{ "selected" if request.GET.get('provice') == provice }}> {{provice}}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <!-- HTML -->
    <div id="chartdiv"></div>

    
    
</div>




<!-- Chart code -->
<script>
    am4core.ready(function () {

        var type = $("#id_type").val();

        if(type == 3){
            $("#div-provice").show();
        }
        else{
            $("#div-provice").hide();

        }


        // Themes begin
        am4core.useTheme(am4themes_animated);

        var chart = am4core.create("chartdiv", am4charts.XYChart);

        var data_label = '{{power_off.list_name}}';
        data_label = data_label.split(',')

        var data_value = "{{power_off.list_time|safe}}";
        data_value = JSON.parse(data_value);

        chart.data = []
        data_label.forEach((label, index) =>{
            chart.data.push({
                'location' : label,
                'time' : data_value[index],
            })
        })

        chart.padding(20, 20, 20, 20);

        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.dataFields.category = "location";
        categoryAxis.renderer.minGridDistance = 40;
        categoryAxis.renderer.inversed = true;
        categoryAxis.renderer.grid.template.disabled = true;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;
        valueAxis.extraMax = 0.1;
        //valueAxis.rangeChangeEasing = am4core.ease.linear;
        //valueAxis.rangeChangeDuration = 1500;

        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.categoryX = "location";
        series.dataFields.valueY = "time";
        series.tooltipText = "{valueY.value}"
        series.columns.template.strokeOpacity = 0;
        series.columns.template.column.cornerRadiusTopRight = 10;
        series.columns.template.column.cornerRadiusTopLeft = 10;
        //series.interpolationDuration = 1500;
        //series.interpolationEasing = am4core.ease.linear;
        var labelBullet = series.bullets.push(new am4charts.LabelBullet());
        labelBullet.label.verticalCenter = "bottom";
        labelBullet.label.dy = -10;
        labelBullet.label.text = "{values.valueY.workingValue.formatNumber('#.')}s";

        chart.zoomOutButton.disabled = true;

        // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
        series.columns.template.adapter.add("fill", function (fill, target) {
            return chart.colors.getIndex(target.dataItem.index);
        });

        // setInterval(function () {
        //     am4core.array.each(chart.data, function (item) {
        //         item.time += Math.round(Math.random() * 200 - 100);
        //         item.time = Math.abs(item.time);
        //     })
        //     chart.invalidateRawData();
        // }, 5000)

        categoryAxis.sortBySeries = series;

    

    }); // end am4core.ready()


    function add_param() {
        disable_element($(".table-loading"));
        var type = $("#id_type").val();



        
    };
</script>