<!-- Styles -->
<style>
    #chartdiv2g {
        width: 100%;
        height: 500px;
    }
</style>

<div class="row mx-3 position-relative table-loading">
    <!-- HTML -->
    <canvas id="chartdiv2g" width="100%" height="100%" class="canvas-minute"></canvas>
    <!--<h4 class="text-nowrap mt-3">TỶ LỆ THAY ĐỔI VỀ TỶ LỆ VÀ CHẤT LƯỢNG ACQUY THEO THỜI GIAN</h4> -->
    <h4 class="text-nowrap mt-3">TỶ LỆ</h4>
    <div id="chartContainer2G" style="height: 300px; width: 100%;" class="mt-2"></div>
    <input type="hidden" id="dict_name_chart_2g_hidden" value="{{dict_data_pie.data_2g.list_name}}" />
    <input type="hidden" id="dict_values_chart_2g_hidden" value="{{dict_data_pie.data_2g.list_values}}" />
</div>

<!-- Chart code -->
<script>
    am4core.ready(function () {

        var type = $("#id_type_2g").val()

        var ctx = $("#chartdiv2g")[0].getContext("2d");

        // Custom data
        var data_label = '{{power_off_2G.list_name}}';
        data_label = data_label.split(',')

        var data_value_less_10 = "{{power_off_2G.list_time_less_10|safe}}";
        data_value_less_10 = JSON.parse(data_value_less_10);

        var data_value_10_30 = "{{power_off_2G.list_time_10_30|safe}}";
        data_value_10_30 = JSON.parse(data_value_10_30);

        var data_value_30_60 = "{{power_off_2G.list_time_30_60|safe}}";
        data_value_30_60 = JSON.parse(data_value_30_60);

        var data_value_more_60 = "{{power_off_2G.list_time_more_60|safe}}";
        data_value_more_60 = JSON.parse(data_value_more_60);

        var data = {
            labels: data_label,
            datasets: [
                {
                    label: "<10 minute>",
                    backgroundColor: "#FF7433",
                    data: data_value_less_10
                },
                {
                    label: "10-30 minute",
                    backgroundColor: "#f3b344",
                    data: data_value_10_30
                },
                {
                    label: "30-60 minute",
                    backgroundColor: "#FFD433",
                    data: data_value_30_60
                },
                {
                    label: ">60 minute",
                    backgroundColor: "#01ad43",
                    data: data_value_more_60
                }
            ]
        };

        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }]
                },
                legend: {
                    position: 'bottom',
                    display: true
                },
                title: {
                        display: true,
                        text: '2G'
                    }
            }
        });
    

    }); // end am4core.ready()



 function draw_chart_2g () {
        var data_pie_2g_name = $("#dict_name_chart_2g_hidden").val();
        data_pie_2g_name = data_pie_2g_name.replace(/'/g, "\"").toString();
        data_pie_2g_name =  JSON.parse(data_pie_2g_name)

        var data_pie_2g_values = $("#dict_values_chart_2g_hidden").val();
        data_pie_2g_values = data_pie_2g_values.replace(/'/g, "\"").toString();
        data_pie_2g_values =  JSON.parse(data_pie_2g_values)

        var data_chart = []
        var data_chart_color = ['#FF7433', '#f3b344', '#FFD433', '#01ad43']

        data_pie_2g_values.forEach(function(entry,idx) {
                data_chart.push({
                    y:entry,
                    name:data_pie_2g_name[idx],
                    color:data_chart_color[idx]
                })
            });

        var chart2g = new CanvasJS.Chart("chartContainer2G", {
            exportEnabled: true,
            animationEnabled: true,
            title:{
                text: "2G Site rate",
                fontSize: 15
            },
            exportEnabled: false,
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: data_chart
            }]
        });
        chart2g.render();
    }

    function explodePie (e) {
        if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }
    
    $(document).ready(function () {
        draw_chart_2g();

    })

</script>