<div class="col-12">
    <table id="table_battery" class="table table-not-in-card table-wrapper table-hover table-font-small">
      <thead>
        <tr>
          <th class="no-sort" style="width: 50px;">No.</th>
          <th class="no-sort" style="width: 150px;">SITE_ID</th>
          <th class="no-sort" style="width: 150px;">START TIME</th>
          <th class="no-sort" style="width: 150px;">END TIME</th>
          <th class="">TIME MLL</th>
          <th class="">PROVINCE</th>
          <th class="">DISTRICT</th>
          <th class="no-sort">GROUP</th>
          <th class="">NETWORK</th>
        </tr>
      </thead>
      <tbody>
        {% for summary in list_data_sumary %}
        <tr>
          <td class="td-check">{{loop.index}}</td>

          <td class="pt-2 pb-3">{{summary.site}} </td>
          <td class="pt-2 pb-3">{{summary.sdate}} </td>
          <td class="pt-2 pb-3">{{summary.edate}} </td>
          <td class="pt-2 pb-3">{{summary.durations}} </td>
          <td class="pt-2 pb-3">{{summary.provice}} </td>
          <td class="pt-2 pb-3">{{summary.district}} </td>
          <td class="pt-2 pb-3">{{summary.groups}} </td>
          <td class="pt-2 pb-3">
            {% if summary.network == "3G" %}
              {% set color_network = "pink" %}
            {% elif summary.network == "RAN_4G" %}
              {% set color_network = "primary" %}
            {% elif data_detail.network == "2G" %}
              {% set color_network = "organge" %}
            {% else %}
              {% set color_network = "secondary" %}
            {% endif %}

            <span class="badge badge-{{ color_network }}">{{ summary.network }}</span>
          </td>
         
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% include 'apps/accu_dashboard/js/custom-table.html' %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function () {

    // var option_addition = {
      
    //   fixedHeader: {
    //       header: true,
    //       headerOffset: $('header').height()
    //   },
      
    // }
    // console.log(get_option_datatable(option_addition));

    // var table = $('#table_battery').DataTable(get_option_datatable(option_addition))

    // show_sort_datatable(table)

    custom_table('table_battery');

  });
    
  function download_summary() {
    var start_date = $('#time-select').data('daterangepicker').startDate.format('YYYY-MM-DD');
    var end_date = $('#time-select').data('daterangepicker').endDate.format('YYYY-MM-DD');
    

    var url_export = "/export-data-summary" + `?start_date=${start_date}&end_date=${end_date}`
    window.location.href = url_export;
  }
</script>
{% endblock %}