<div class="col-12 mt-3 pl-0" id="mpd-info">
  <div class="col-12 mt-3 pl-0">
    <!--
      <button class="btn btn-light border btn-sm float-right mb-2" onclick="download_summary_mpd();">
      <i></i>Export Excel
    </button>
    -->
    
  </div>
    
  <div style='display: block;
              overflow-x: auto;
              '>
    <table id="table-mpd-info" class="table table-not-in-card table-wrapper table-hover table-font-small text-nowrap">
      <thead>
        <tr>
          <th class="no-sort">No.</th>
          <th class="no-sort" >Name</th>
          <th class="" >Code</th>
          <th class="no-sort" >Product Code</th>
          <th class="">QR Code</th>
          <th class="no-sort">Wattage</th>
          <th class="no-sort">Phase</th>
          <th class="no-sort">Site</th>
          <th class="no-sort">Parent Code</th>
          <th class="no-sort">Parent Name</th>
          <th class="no-sort">Sdate Use</th>
          <th class="no-sort">Insurance Date</th>
          <th class="no-sort">Fixing Date</th>
          <th class="no-sort">Serial Engine</th>
          <th class="no-sort">Serial Moto</th>
          <th class="no-sort">Label</th>
          <th class="no-sort">Status</th>
          <th class="no-sort">Cumulative Index</th>
          <th class="no-sort">Action</th>

        </tr>
      </thead>
      <tbody>
        {% for data_detail in list_data_mpd_info %}
        <tr>
          <td class="td-check">{{loop.index}}</td>
          <td class="pt-2 pb-3">{{data_detail.name}} </td>
          <td class="pt-2 pb-3">{{data_detail.code}} </td>
          <td class="pt-2 pb-3">{{data_detail.product_code}} </td>
          <td class="pt-2 pb-3">{{data_detail.qr_code}} </td>
          <td class="pt-2 pb-3">{{data_detail.wattage}} </td>
          <td class="pt-2 pb-3">{{data_detail.phase}} </td>
          <td class="pt-2 pb-3">{{data_detail.site}} </td>
          <td class="pt-2 pb-3">{{data_detail.parent_code}} </td>
          <td class="pt-2 pb-3">{{data_detail.parent_name}} </td>
          <td class="pt-2 pb-3">{{data_detail.sdate_use}} </td>
          <td class="pt-2 pb-3">{{data_detail.insurance_date}} </td>
          <td class="pt-2 pb-3">{{data_detail.fixing_date}} </td>
          <td class="pt-2 pb-3">{{data_detail.serial_engine}} </td>
          <td class="pt-2 pb-3">{{data_detail.serial_moto}} </td>
          <td class="pt-2 pb-3">{{data_detail.label}} </td>
          <td class="pt-2 pb-3">
            {% if data_detail.status == "good" %}
              {% set color_status = "success" %}
              {% set icon_status = "check" %}
            {% elif data_detail.status == "error" %}
              {% set color_status = "danger" %}
              {% set icon_status = "close" %}
            {% else %}
              {% set color_status = "secondary" %}
              {% set color_status = "" %}
            {% endif %}

            <span 
              class="badge badge-{{color_status}}" 
              style="text-transform: uppercase">
              <i class="fa fa-{{ icon_status }} mr-1"></i>{{data_detail.status}}
            </span>
            
          </td>
          <td class="pt-2 pb-3">{{data_detail.cumulative_index}} </td>
          <td class="pt-2 pb-3">
            <div class="dropdown">
              <button class="btn-light border dropdown-toggle btn-sm dropdown-in-table" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </button>
              <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <button data-toggle="modal"  class="dropdown-item"
                  data-target="#modalUpdateMPDInfo" data-backdrop="static" data-keyboard="false" data-mpd-id="{{data_detail.id}}" >
                  <i class="fa fa-edit mr-1"></i>Edit
                </button>

                <button data-toggle="modal" class="dropdown-item text-danger" data-target="#modalDeleteMPDInfo"
                data-mpd-id="{{data_detail.id}}">
                  <i class="fa fa-trash mr-1 text-danger"></i>Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'apps/accu_dashboard/js/custom-table.html' %}
{% include 'apps/accu_dashboard/modal/modal-update-mpd-info.html' %}
{% with 
  modal_id = 'modalDeleteMPDInfo',
  modal_title='Delete MPD Info' ,
  modal_body_tmp = 'apps/accu_dashboard/modal/modal_mpd_info_delete.html'
%}
{% include 'popup/popup_delete.html' %}
{% endwith %}

{% block script %}
<script type="text/javascript">

  $(document).ready(function () {
    custom_table('table-mpd-info');

  });

  
  function download_mpd_info() {
    var url_export = "/export-data-mpd-info"
    window.location.href = url_export;
  }
</script>
{% endblock %}