<div class="col-12 mt-3 pl-0" id="accu-info">
  <div class="col-12 mt-3 pl-0">
    <!--
      <button class="btn btn-light border btn-sm float-right mb-2" onclick="download_summary_accu();">
      <i></i>Export Excel
    </button>
    -->
    
  </div>
    
  <div style='display: block;
              overflow-x: auto;
              '>
    <table id="table-accu-info" class="table table-not-in-card table-wrapper table-hover table-font-small">
      <thead>
        <tr>
          <th class="no-sort">No.</th>
          <th class="no-sort" >Site</th>
          <th class="no-sort" >Name</th>
          <th class="">QR Code</th>
          <th class="no-sort">Voltage</th>
          <th class="no-sort">Time backup</th>
          <th class="no-sort">Cabinets source</th>
          <th class="no-sort">serial</th>
          <th class="no-sort">ird</th>
          <th class="no-sort">irsx</th>
          <th class="no-sort">timexa</th>
          <th class="no-sort">ddm</th>
          <th class="no-sort">ixa</th>
          <th class="no-sort">Action</th>

        </tr>
      </thead>
      <tbody>
        {% for data_detail in list_data_soh_info %}
        <tr>
          <td class="td-check">{{loop.index}}</td>
          <td class="pt-2 pb-3">{{data_detail.site.id}} </td>
          <td class="pt-2 pb-3">{{data_detail.name}} </td>
          <td class="pt-2 pb-3">{{data_detail.qr_code}} </td>
          <td class="pt-2 pb-3">{{data_detail.voltage}} </td>
          <td class="pt-2 pb-3">{{data_detail.time_backup}} </td>
          <td class="pt-2 pb-3">{{data_detail.cabinets_source.name}}({{data_detail.cabinets_source.code}}) </td>
          <td class="pt-2 pb-3">{{data_detail.serial}} </td>
          <td class="pt-2 pb-3">{{data_detail.ird}} </td>
          <td class="pt-2 pb-3">{{data_detail.irsx}} </td>
          <td class="pt-2 pb-3">{{data_detail.timexa}} </td>
          <td class="pt-2 pb-3">{{data_detail.ddm}} </td>
          <td class="pt-2 pb-3">{{data_detail.ixa}} </td>
          <td class="pt-2 pb-3">
            <div class="dropdown">
              <button class="btn-light border dropdown-toggle btn-sm dropdown-in-table" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </button>
              <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <button data-toggle="modal" class="dropdown-item text-danger" data-target="#modalDeleteSOHInfo"
                data-soh-id="{{data_detail.id}}">
                  <i class="fa fa-trash mr-1 text-danger"></i>Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'apps/accu_dashboard/js/custom-table.html' %}
{% with 
  modal_id = 'modalDeleteSOHInfo',
  modal_title='Delete SOH Info' ,
  modal_body_tmp = 'apps/accu_dashboard/modal/modal_soh_info_delete.html'
%}
{% include 'popup/popup_delete.html' %}
{% endwith %}

{% block script %}
<script type="text/javascript">

  $(document).ready(function () {
    custom_table('table-soh-info');

  });

  
  function download_soh_info() {
    var url_export = "/export-data-soh-info"
    window.location.href = url_export;
  }
</script>
{% endblock %}