<style>
  #chartdiv {
      width: 100%;
      height: 300px;
  }
</style>

<div class="col-12 pl-0" id="time-mpd">
  <div>
    <canvas id ='chartdiv' class="canvas" ></canvas>
  </div>




  <div>
    <table id="table_mpd" class="table table-not-in-card table-wrapper table-hover table-font-small">
      <thead>
        <tr>
          <th class="no-sort">No.</th>
          <th class="no-sort">PROVINCE</th>
          <th class="no-sort">GROUP</th>
          <th class="">Time MD</th>
          <th class="no-sort">NETWORk</th>
          <th class="no-sort">TYPE</th>

        </tr>
      </thead>
      <tbody>
        {% for data_detail in list_data_mpd %}
        <tr>
          <td class="td-check">{{loop.index}}</td>

          <td class="pt-2 pb-3">{{data_detail.provice}} </td>
          <td class="pt-2 pb-3">{{data_detail.groups}} </td>
          <td class="pt-2 pb-3">{{'{0:,}'.format(data_detail.total_durations)}} </td>
          <td class="pt-2 pb-3">
            {% if data_detail.network == "3G" %}
              {% set color_network = "pink" %}
            {% elif data_detail.network == "RAN_4G" %}
              {% set color_network = "primary" %}
            {% elif data_detail.network == "2G" %}
              {% set color_network = "organge" %}
            {% else %}
              {% set color_network = "secondary" %}
            {% endif %}
            <span class="badge badge-{{ color_network }}">{{ data_detail.network }}</span>
          </td>
          <td class="pt-2 pb-3">{{data_detail.alarm_type}} </td>
         
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



{% block script %}
<script type="text/javascript">

  $(document).ready(function () {

    draw_chart()

    var option_addition = {
      fixedHeader: {
          header: true,
          headerOffset: $('header').height(),
          pageLength: 50,
      }
    }

    var table = $('#table_mpd').DataTable(get_option_datatable(option_addition))

    show_sort_datatable(table)

    // custom_table('table_mpd');


    initCalendar();
    $("#reportrange span").html('{{current_start_time}}' + " - " + '{{current_end_time}}');

  });

  function draw_chart(){
    data_value = JSON.parse('{{data_chart|safe}}');

    var ctx = document.getElementById("chartdiv").getContext('2d');
    var labels = data_value.list_label_chart;
    var dataset = [];
    dataset = [{
         label: '2G',
         data: data_value.list_data_2g,
         backgroundColor: '#22aa99'
      }, {
         label: '3G',
         data: data_value.list_data_3g,
         backgroundColor: '#994499'
      }, {
         label: '4G',
         data: data_value.list_data_4g,
         backgroundColor: '#316395'
      }, {
         label: '5G',
         data: data_value.list_data_5g,
         backgroundColor: '#b82e2e'
      }]



    var options = {
      scales: {
        xAxes: [{
          stacked: true
        }],
        yAxes: [{
          stacked: true
        }]
      }
    };

    var content = {
      type: 'bar',
      data: {
          labels: labels,
          datasets: dataset
      },
      options
    };

    new Chart(ctx, content);
  }



  function initCalendar() {
        init_calendar("reportrange");
        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
    }

  function add_param() {
        disable_element($(".table-loading"));
        var type = $("#id_type").val();

        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
        window.location.search = `?&start_date=${_start_date}&end_date=${_end_date}`

    };
  
    function download_summary_mpd() {
      var date = get_start_date_and_end_date("reportrange");

    var start_date = date.start_date;
    var end_date = _end_date = date.end_date;
    

    var url_export = "/export-data-summary-mpd" + `?start_date=${start_date}&end_date=${end_date}`
    window.location.href = url_export;
  }
</script>
{% endblock %}