<div class="col-12 mt-2 px-0" id="time-md">

  <div>
    <table id="table_md" class="table table-not-in-card table-wrapper table-hover table-font-small">
      <thead>
        <tr>
          <th class="no-sort">No.</th>
          <th class="no-sort" >SITE_ID</th>
          <th class="" >Start Time</th>
          <th class="" >End Time</th>
          <th class="">Time MD</th>
          <th class="no-sort">PROVINCE</th>
          <th class="no-sort">DISTRICT</th>
          <th class="no-sort">GROUP</th>
          <th class="no-sort">NETWORK</th>
          <th class="no-sort">TYPE</th>

        </tr>
      </thead>
      <tbody>
        {% for data_detail in list_data_md %}
        <tr>
          <td class="td-check">{{loop.index}}</td>

          <td class="pt-2 pb-3">{{data_detail.site}} </td>
          <td class="pt-2 pb-3">{{data_detail.sdate}} </td>
          <td class="pt-2 pb-3">{{data_detail.edate}} </td>
          <td class="pt-2 pb-3">{{data_detail.durations}} </td>
          <td class="pt-2 pb-3">{{data_detail.provice}} </td>
          <td class="pt-2 pb-3">{{data_detail.district}} </td>
          <td class="pt-2 pb-3">{{data_detail.groups}} </td>
          <td class="pt-2 pb-3">
            {% if data_detail.network == "3G" %}
              {% set color_network = "pink" %}
            {% elif data_detail.network == "RAN_4G" %}
              {% set color_network = "primary" %}
            {% elif data_detail.network == "2G" %}
              {% set color_network = "organge" %}
            {% else %}
              {% set color_network = "secondary" %}
            {% endif %}

            <span class="badge badge-{{ color_network }}">{{ data_detail.network }}</span>

          </td>
          <td class="pt-2 pb-3">{{data_detail.alarm_type}} </td>
         
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
</div>
{% include 'apps/accu_dashboard/js/custom-table.html' %}

{% block script %}
<script type="text/javascript">

  $(document).ready(function () {

    // var option_addition = {
    //   fixedHeader: {
    //       header: true,
    //       headerOffset: $('header').height(),
    //       pageLength: 50,

    //   }
    // }

    // var table = $('#table_md').DataTable(get_option_datatable(option_addition))

    // show_sort_datatable(table);

    custom_table('table_md');
    

  });

  

  function add_param() {
        disable_element($(".table-loading"));
        var type = $("#id_type").val();

        var date = get_start_date_and_end_date("reportrange");
        _start_date = date.start_date;
        _end_date = date.end_date;
        window.location.search = `?&start_date=${_start_date}&end_date=${_end_date}`
    };
  
    function download_summary_md() {
      var date = get_start_date_and_end_date("reportrange");

    var start_date = date.start_date;
    var end_date = _end_date = date.end_date;
    

    var url_export = "/export-data-summary-md" + `?start_date=${start_date}&end_date=${end_date}`
    window.location.href = url_export;
  }

</script>
{% endblock %}