


<form action="{{url('accu_info_delete',args=(obj_accu.pk,))}}" id="accu-info-delete-form" method="post">
  <div class="text-center">
    <p style="font-size: 20px;">Are you want to delete ACCU Info "{{obj_accu.name}}"?</p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <input class="btn btn-danger" type="submit" value="Confirm">  
  </div>
</form>

