


<form action="{{url('ats_info_delete',args=(obj_ats.pk,))}}" id="ats-info-delete-form" method="post">
  <div class="text-center">
    <p style="font-size: 20px;">Are you want to delete ATS Info "{{obj_ats.name}}"?</p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <input class="btn btn-danger" type="submit" value="Confirm">  
  </div>
</form>

