


<form action="{{url('cabinet_delete',args=(obj_cabinet.pk,))}}" id="cabinet-info-delete-form" method="post">
  <div class="text-center">
    <p style="font-size: 20px;">Are you want to delete Cabinet Info "{{obj_cabinet.name}}"?</p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <input class="btn btn-danger" type="submit" value="Confirm">  
  </div>
</form>

