
<input type="hidden" id="hidden_mpd_id" value="{{data_mpd_info.id}}" />

<!-- Property -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">Name : </label>
    <div class="col-12">
      <input id="txt_name" value="{{data_mpd_info.name}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Code : </label>
    <div class="col-12">
      <input id="txt_code" value="{{data_mpd_info.code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Product Code : </label>
    <div class="col-12">
      <input id="txt_product_code" value="{{data_mpd_info.product_code}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Name -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">QR Code : </label>
    <div class="col-12">
      <input id="txt_qr_code" value="{{data_mpd_info.qr_code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Wattage : </label>
    <div class="col-12">
      <input id="txt_wattage" value="{{data_mpd_info.wattage}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Phase : </label>
    <div class="col-12">
      <input id="txt_phase" value="{{data_mpd_info.phase}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">Site : </label>
    <div class="col-12">
      <select id='select_site' class="form-control" >
        {% for site in list_site %}
          <option value="{{site.id}}" {% if data_mpd_info.site == site.id %}selected{% endif %} >{{site.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Parent Code : </label>
    <div class="col-12">
      <input id="txt_parent_code" value="{{data_mpd_info.parent_code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Parent Name : </label>
    <div class="col-12">
      <input id="txt_parent_name" value="{{data_mpd_info.parent_name}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">sdate use : </label>
    <div class="col-12">
      <input id="txt_sdate_use" value="{{data_mpd_info.sdate_use}}" type="datetime-local" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">insurance date : </label>
    <div class="col-12">
      <input id="txt_insurance_date" value="{{data_mpd_info.insurance_date}}" type="datetime-local" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Pfixing date : </label>
    <div class="col-12">
      <input id="txt_fixing_date" value="{{data_mpd_info.fixing_date}}" type="datetime-local" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">serial engine : </label>
    <div class="col-12">
      <input id="txt_serial_engine" value="{{data_mpd_info.serial_engine}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">serial moto : </label>
    <div class="col-12">
      <input id="txt_serial_moto" value="{{data_mpd_info.serial_moto}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">label : </label>
    <div class="col-12">
      <input id="txt_label" value="{{data_mpd_info.label}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">status : </label>
    <div class="col-12">
      <select id='select_status' class="form-control" >
        {% for status in list_status %}
          <option value="{{status.id}}" {% if data_mpd_info.status == status.id %}selected{% endif %} >{{status.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">cumulative index : </label>
    <div class="col-12">
      <input id="txt_cumulative_index" value="{{data_mpd_info.cumulative_index}}" type="text" class="form-control" />
    </div>
  </div>  
</div>

<!-- Show message-->
<div class="row mt-4">
  <div id="msg-update-mpd-info" class="col-12">

</div>
<div>

<script type="text/javascript">
  $('#select_site').select2({
    theme: 'bootstrap',
    placeholder: 'Select Site',
    allowClear: false
  });

</script>