<div class="modal fade" id="modalUpdateACCUInfo"  role="dialog" aria-labelledby="modalUpdateACCUInfo" aria-hidden="true" data-dropback="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update ACCU Info</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="modalUpdateACCUInfoBody" class="modal-body">
        <div class="body-content">
          
        </div><!--End body content-->
      </div>
      <div class="modal-footer justify-content-start">
        <button onclick="update_accu_info();" id="btnUpdateACCUInfo" class="btn btn-primary" type="button">
          Update</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.modal-->

<script type="text/javascript">

  var is_submit_form_create = false
  $('#modalUpdateACCUInfo').on('hidden.bs.modal', function (e) {
    $('#modalUpdateACCUInfoBody .body-content').children().remove();
    if ( is_submit_form_create == true ){
      disable_element($(".table-loading"));
      location.reload();  
    }
  });
  

  $('#modalUpdateACCUInfo').on('shown.bs.modal', function (e) {
    
    disable_element($("#modalUpdateACCUInfo .modal-body"))
    //Xử lý option select type_seminar khi mở modal create
    
    $('#btnUpdateACCUInfo').attr('disabled', true);
    var accu_id = $(e.relatedTarget).data('accu-id');
    
    $.ajax({
      type: "POST",
      url: "/ajax/load-update-accu-info",
      dataType: "html",
      data : {
        "accu_id": accu_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' 
      },
      success : function(response) {
        $('#modalUpdateACCUInfo .body-content').html(response);
        $('#btnUpdateACCUInfo').attr('disabled', false);
        
        enable_element($("#modalUpdateACCUInfo .modal-body"))
      },
      error: function(xhr, status, e) {
        $('#modalUpdateACCUInfo .body-content').html('Load form failed.');
        enable_element($("#modalUpdateACCUInfo .modal-body"))
      }
      });
    
  });

  function update_accu_info() {
    var accu_id = $('#hidden_accu_id').val();
    var name = $('#txt_name').val();
    var code = $('#txt_code').val();
    var product_code = $('#txt_product_code').val();
    var qr_code = $('#txt_qr_code').val();
    var voltage = $('#txt_voltage').val();
    var sdate_use = $('#txt_sdate_use').val();
    var insurance_date = $('#txt_insurance_date').val();
    var fixing_date = $('#txt_fixing_date').val();
    var serial = $('#txt_serial').val();
    var battery_capacity = $('#txt_battery_capacity').val();
    var label = $('#txt_label').val();
    var number_accu = $('#txt_number_accu').val();
    var time_backup = $('#txt_time_backup').val();
    var status = $('#select_status').val();
    var cabinet = $('#select_cabinet').val();

    $('#btnUpdateACCUInfo').attr('disabled', true);
    
    hide_message('msg-update-accu-info');
    disable_element($("#modalUpdateACCUInfo .body-content"));
      
    $.ajax({
      type: "POST",
      url: "/ajax/update-accu-info",
      dataType: "html",
      data : {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'accu_id': accu_id,
        'name': name,
        'code': code,
        'product_code': product_code,
        'qr_code': qr_code,
        'voltage': voltage,
        'cabinet': cabinet,
        'sdate_use': sdate_use,
        'insurance_date': insurance_date,
        'fixing_date': fixing_date,
        'serial': serial,
        'battery_capacity': battery_capacity,
        'label': label,
        'number_accu': number_accu,
        'time_backup': time_backup,
        'status': status,
      },
      success : function(response) {
        $('#btnUpdateACCUInfo').attr('disabled', false);
        enable_element($("#modalUpdateACCUInfo .body-content"));
        if (response == 1){
          show_success_message('msg-update-accu-info','Update accu Info Success!');
          is_submit_form_create = true
          
        }
        
      },
      error: function(xhr, status, e) {
        $('#modalUpdateACCUInfo .body-content').html('Load form failed.');
      }
    });
    
  };


    
</script>