
<input type="hidden" id="hidden_cabinet_id" value="{{data_cabinet_info.id}}" />

<!-- Property -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">Name</label>
    <div class="col-12">
      <input id="txt_name" value="{{data_cabinet_info.name}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Code</label>
    <div class="col-12">
      <input id="txt_code" value="{{data_cabinet_info.code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Product Code</label>
    <div class="col-12">
      <input id="txt_product_code" value="{{data_cabinet_info.product_code}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Name -->
<div class="row mt-3">
  <div class='col-4'>
    <label class="col-12">QR Code</label>
    <div class="col-12">
      <input id="txt_qr_code" value="{{data_cabinet_info.qr_code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Number rectifier</label>
    <div class="col-12">
      <input id="txt_number_rectifier" value="{{data_cabinet_info.number_rectifier}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Number module rectifier</label>
    <div class="col-12">
      <input id="txt_number_module_rectifier" value="{{data_cabinet_info.number_module_rectifier}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row mt-3">
  <div class='col-4'>
    <label class="col-12">Site</label>
    <div class="col-12">
      <select id='select_site' class="form-control" >
        {% for site in list_site %}
          <option value="{{site.id}}" {% if data_cabinet_info.site == site.id %}selected{% endif %} >{{site.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Parent Code</label>
    <div class="col-12">
      <input id="txt_parent_code" value="{{data_cabinet_info.parent_code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Parent Name</label>
    <div class="col-12">
      <input id="txt_parent_name" value="{{data_cabinet_info.parent_name}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row mt-3">
  <div class='col-4'>
    <label class="col-12">Sdate use</label>
    <div class="col-12">
      <input id="txt_sdate_use" value="{{data_cabinet_info.sdate_use}}" type="datetime-local" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Insurance date</label>
    <div class="col-12">
      <input id="txt_insurance_date" value="{{data_cabinet_info.insurance_date}}" type="datetime-local" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Pfixing date</label>
    <div class="col-12">
      <input id="txt_fixing_date" value="{{data_cabinet_info.fixing_date}}" type="datetime-local" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row mt-3">
  <div class='col-4'>
    <label class="col-12">Serial</label>
    <div class="col-12">
      <input id="txt_serial" value="{{data_cabinet_info.serial}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Rectifier power</label>
    <div class="col-12">
      <input id="txt_rectifier_power" value="{{data_cabinet_info.rectifier_power}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Label</label>
    <div class="col-12">
      <input id="txt_label" value="{{data_cabinet_info.label}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row mt-3">
  <div class='col-4'>
    <label class="col-12">Status</label>
    <div class="col-12">
      <select id='select_status' class="form-control" >
        {% for status in list_status %}
          <option value="{{status.id}}" {% if data_cabinet_info.status == status.id %}selected{% endif %} >{{status.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Device conect</label>
    <div class="col-12">
      <input id="txt_device_conect" value="{{data_cabinet_info.device_conect}}" type="text" class="form-control" />
    </div>
  </div>  
</div>

<!-- Show message-->
<div class="row mt-4">
  <div id="msg-update-cabinet-info" class="col-12">

</div>
<div>

<script type="text/javascript">
  $('#select_site').select2({
    theme: 'bootstrap',
    placeholder: 'Select Site',
    allowClear: false
  });

</script>