<div class="modal fade" id="modalUpdateATSInfo"  role="dialog" aria-labelledby="modalUpdateATSInfo" aria-hidden="true" data-dropback="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update ATS Info</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="modalUpdateATSInfoBody" class="modal-body">
        <div class="body-content">
          
        </div><!--End body content-->
      </div>
      <div class="modal-footer justify-content-start">
        <button onclick="update_ats_info();" id="btnUpdateATSInfo" class="btn btn-primary" type="button">
          Update</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.modal-->

<script type="text/javascript">

  var is_submit_form_create = false
  $('#modalUpdateATSInfo').on('hidden.bs.modal', function (e) {
    $('#modalUpdateATSInfoBody .body-content').children().remove();
    if ( is_submit_form_create == true ){
      disable_element($(".table-loading"));
      location.reload();  
    }
  });
  

  $('#modalUpdateATSInfo').on('shown.bs.modal', function (e) {
    
    disable_element($("#modalUpdateATSInfo .modal-body"))
    //Xử lý option select type_seminar khi mở modal create
    
    $('#btnUpdateATSInfo').attr('disabled', true);
    var ats_id = $(e.relatedTarget).data('ats-id');
    
    $.ajax({
      type: "POST",
      url: "/ajax/load-update-ats-info",
      dataType: "html",
      data : {
        "ats_id": ats_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' 
      },
      success : function(response) {
        $('#modalUpdateATSInfo .body-content').html(response);
        $('#btnUpdateATSInfo').attr('disabled', false);
        
        enable_element($("#modalUpdateATSInfo .modal-body"))
      },
      error: function(xhr, status, e) {
        $('#modalUpdateATSInfo .body-content').html('Load form failed.');
        enable_element($("#modalUpdateATSInfo .modal-body"))
      }
      });
    
  });

  function update_ats_info() {
    var ats_id = $('#hidden_ats_id').val();
    var name = $('#txt_name').val();
    var code = $('#txt_code').val();
    var product_code = $('#txt_product_code').val();
    var qr_code = $('#txt_qr_code').val();
    var customer_management = $('#txt_customer_management').val();
    var sdate_use = $('#txt_sdate_use').val();
    var insurance_date = $('#txt_insurance_date').val();
    var fixing_date = $('#txt_fixing_date').val();
    var serial = $('#txt_serial').val();
    var type = $('#txt_type').val();
    var label = $('#txt_label').val();
    var status = $('#select_status').val();
    var mpd = $('#select_mpd').val();

    $('#btnUpdateATSInfo').attr('disabled', true);
    
    hide_message('msg-update-ats-info');
    disable_element($("#modalUpdateATSInfo .body-content"));
      
    $.ajax({
      type: "POST",
      url: "/ajax/update-ats-info",
      dataType: "html",
      data : {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'ats_id': ats_id,
        'name': name,
        'code': code,
        'product_code': product_code,
        'qr_code': qr_code,
        'customer_management': customer_management,
        'mpd': mpd,
        'sdate_use': sdate_use,
        'insurance_date': insurance_date,
        'fixing_date': fixing_date,
        'serial': serial,
        'type': type,
        'label': label,
        'status': status,
      },
      success : function(response) {
        $('#btnUpdateATSInfo').attr('disabled', false);
        enable_element($("#modalUpdateATSInfo .body-content"));
        if (response == 1){
          show_success_message('msg-update-ats-info','Update ATS Info Success!');
          is_submit_form_create = true
          
        }
        
      },
      error: function(xhr, status, e) {
        $('#modalUpdateATSInfo .body-content').html('Load form failed.');
      }
    });
    
  };


    
</script>