
<input type="hidden" id="hidden_ats_id" value="{{data_ats_info.id}}" />

<!-- Property -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">Name</label>
    <div class="col-12">
      <input id="txt_name" value="{{data_ats_info.name}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Code</label>
    <div class="col-12">
      <input id="txt_code" value="{{data_ats_info.code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Product Code</label>
    <div class="col-12">
      <input id="txt_product_code" value="{{data_ats_info.product_code}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Name -->
<div class="row mt-2">
  <div class='col-4'>
    <label class="col-12">QR Code</label>
    <div class="col-12">
      <input id="txt_qr_code" value="{{data_ats_info.qr_code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Customer Management</label>
    <div class="col-12">
      <input id="txt_customer_management" value="{{data_ats_info.customer_management}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">MPD</label>
    <div class="col-12">
      <select id='select_mpd' class="form-control" >
        {% for mpd in list_mpd %}
          <option value="{{mpd.id}}" {% if data_ats_info.mpd == mpd.id %}selected{% endif %} >{{mpd.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  
</div>


<!-- Property Sort -->
<div class="row mt-2">
  <div class='col-4'>
    <label class="col-12">Sdate use</label>
    <div class="col-12">
      <input id="txt_sdate_use" value="{{data_ats_info.sdate_use}}" type="datetime-local" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Insurance date</label>
    <div class="col-12">
      <input id="txt_insurance_date" value="{{data_ats_info.insurance_date}}" type="datetime-local" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Pfixing date</label>
    <div class="col-12">
      <input id="txt_fixing_date" value="{{data_ats_info.fixing_date}}" type="datetime-local" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row mt-2">
  <div class='col-4'>
    <label class="col-12">Serial</label>
    <div class="col-12">
      <input id="txt_serial" value="{{data_ats_info.serial}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Label</label>
    <div class="col-12">
      <input id="txt_label" value="{{data_ats_info.label}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Type</label>
    <div class="col-12">
      <input id="txt_type" value="{{data_ats_info.type}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row mt-2">
  <div class='col-4'>
    <label class="col-12">Status</label>
    <div class="col-12">
      <select id='select_status' class="form-control" >
        {% for status in list_status %}
          <option value="{{status.id}}" {% if data_ats_info.status == status.id %}selected{% endif %} >{{status.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

</div>

<!-- Show message-->
<div class="row mt-4">
  <div id="msg-update-ats-info" class="col-12">

</div>
<div>

<script type="text/javascript">
  $('#select_mpd').select2({
    theme: 'bootstrap',
    placeholder: 'Select MPD',
    allowClear: false
  });

</script>