
<input type="hidden" id="hidden_accu_id" value="{{data_accu_info.id}}" />

<!-- Property -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">Name : </label>
    <div class="col-12">
      <input id="txt_name" value="{{data_accu_info.name}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Code : </label>
    <div class="col-12">
      <input id="txt_code" value="{{data_accu_info.code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Product Code : </label>
    <div class="col-12">
      <input id="txt_product_code" value="{{data_accu_info.product_code}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Name -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">QR Code : </label>
    <div class="col-12">
      <input id="txt_qr_code" value="{{data_accu_info.qr_code}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Voltage : </label>
    <div class="col-12">
      <input id="txt_voltage" value="{{data_accu_info.voltage}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Cabinet source : </label>
    <div class="col-12">
      <select id='select_cabinet' class="form-control" >
        {% for cabinet in list_cabinet %}
          <option value="{{cabinet.id}}" {% if data_accu_info.cabinets_source == cabinet.id %}selected{% endif %} >{{cabinet.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  
</div>


<!-- Property Sort -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">sdate use : </label>
    <div class="col-12">
      <input id="txt_sdate_use" value="{{data_accu_info.sdate_use}}" type="datetime-local" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">insurance date : </label>
    <div class="col-12">
      <input id="txt_insurance_date" value="{{data_accu_info.insurance_date}}" type="datetime-local" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Pfixing date : </label>
    <div class="col-12">
      <input id="txt_fixing_date" value="{{data_accu_info.fixing_date}}" type="datetime-local" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">serial : </label>
    <div class="col-12">
      <input id="txt_serial" value="{{data_accu_info.serial}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">label : </label>
    <div class="col-12">
      <input id="txt_label" value="{{data_accu_info.label}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Battery capacity : </label>
    <div class="col-12">
      <input id="txt_battery_capacity" value="{{data_accu_info.battery_capacity}}" type="text" class="form-control" />
    </div>
  </div>
  
</div>

<!-- Property Sort -->
<div class="row">
  <div class='col-4'>
    <label class="col-12">Number ACCU : </label>
    <div class="col-12">
      <input id="txt_number_accu" value="{{data_accu_info.number_accu}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">Time backup : </label>
    <div class="col-12">
      <input id="txt_time_backup" value="{{data_accu_info.time_backup}}" type="text" class="form-control" />
    </div>
  </div>

  <div class='col-4'>
    <label class="col-12">status : </label>
    <div class="col-12">
      <select id='select_status' class="form-control" >
        {% for status in list_status %}
          <option value="{{status.id}}" {% if data_accu_info.status == status.id %}selected{% endif %} >{{status.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

</div>

<!-- Show message-->
<div class="row mt-4">
  <div id="msg-update-accu-info" class="col-12">

</div>
<div>

<script type="text/javascript">
  $('#select_cabinet').select2({
    theme: 'bootstrap',
    placeholder: 'Select Cabinet Source',
    allowClear: false
  });

</script>