<div class="modal fade" id="modalUpdateMPDInfo"  role="dialog" aria-labelledby="modalUpdateMPDInfo" aria-hidden="true" data-dropback="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update MPD Info</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="modalUpdateMPDInfoBody" class="modal-body">
        <div class="body-content">
          
        </div><!--End body content-->
      </div>
      <div class="modal-footer justify-content-start">
        <button onclick="update_mpd_info();" id="btnUpdateMPDInfo" class="btn btn-primary" type="button">
          Update</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.modal-->

<script type="text/javascript">

  var is_submit_form_create = false
  $('#modalUpdateMPDInfo').on('hidden.bs.modal', function (e) {
    $('#modalUpdateMPDInfoBody .body-content').children().remove();
    if ( is_submit_form_create == true ){
      disable_element($(".table-loading"));
      location.reload();  
    }
  });
  

  $('#modalUpdateMPDInfo').on('shown.bs.modal', function (e) {
    
    disable_element($("#modalUpdateMPDInfo .modal-body"))
    //Xử lý option select type_seminar khi mở modal create
    
    $('#btnUpdateMPDInfo').attr('disabled', true);
    var mpd_id = $(e.relatedTarget).data('mpd-id');
    
    $.ajax({
      type: "POST",
      url: "/ajax/load-update-mpd-info",
      dataType: "html",
      data : {
        "mpd_id": mpd_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' 
      },
      success : function(response) {
        $('#modalUpdateMPDInfo .body-content').html(response);
        $('#btnUpdateMPDInfo').attr('disabled', false);
        
        enable_element($("#modalUpdateMPDInfo .modal-body"))
      },
      error: function(xhr, status, e) {
        $('#modalUpdateMPDInfo .body-content').html('Load form failed.');
        enable_element($("#modalUpdateMPDInfo .modal-body"))
      }
      });
    
  });

  function update_mpd_info() {
    var mpd_id = $('#hidden_mpd_id').val();
    var name = $('#txt_name').val();
    var code = $('#txt_code').val();
    var product_code = $('#txt_product_code').val();
    var qr_code = $('#txt_qr_code').val();
    var wattage = $('#txt_wattage').val();
    var phase = $('#txt_phase').val();
    var site = $('#select_site').val();
    var parent_code = $('#txt_parent_code').val();
    var parent_name = $('#txt_parent_name').val();
    var sdate_use = $('#txt_sdate_use').val();
    var insurance_date = $('#txt_insurance_date').val();
    var fixing_date = $('#txt_fixing_date').val();
    var serial_engine = $('#txt_serial_engine').val();
    var serial_moto = $('#txt_serial_moto').val();
    var label = $('#txt_label').val();
    var status = $('#select_status').val();
    var cumulative_index = $('#txt_cumulative_index').val();

    $('#btnUpdateMPDInfo').attr('disabled', true);
    
    hide_message('msg-update-mpd-info');
    disable_element($("#modalUpdateMPDInfo .body-content"));
      
    $.ajax({
      type: "POST",
      url: "/ajax/update-mpd-info",
      dataType: "html",
      data : {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'mpd_id': mpd_id,
        'name': name,
        'code': code,
        'product_code': product_code,
        'qr_code': qr_code,
        'wattage': wattage,
        'phase': phase,
        'site': site,
        'parent_code': parent_code,
        'parent_name': parent_name,
        'sdate_use': sdate_use,
        'insurance_date': insurance_date,
        'fixing_date': fixing_date,
        'serial_engine': serial_engine,
        'serial_moto': serial_moto,
        'label': label,
        'status': status,
        'cumulative_index': cumulative_index
      },
      success : function(response) {
        $('#btnUpdateMPDInfo').attr('disabled', false);
        enable_element($("#modalUpdateMPDInfo .body-content"));
        if (response == 1){
          show_success_message('msg-update-mpd-info','Update MPD Info Success!');
          is_submit_form_create = true
          
        }
        
      },
      error: function(xhr, status, e) {
        $('#modalUpdateMPDInfo .body-content').html('Load form failed.');
      }
    });
    
  };


    
</script>