<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Data</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" id="file" type="file" name="file" onchange="preview_import()">
        <a class="d-block" href="{{link_example}}" target="_blank">
          <small class="float-right">
            <i class="fa fa-download" aria-hidden="true"></i> Excel sample
          </small>
        </a>
        <div id="table-preview">

        </div>

        <div id='msg-import'>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="save_import_data()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
var type_import = '{{type_import}}';

function preview_import(){
    // Loading form
    disable_element($('#modal-body'));
    var el = $("#file")[0];
    var content_file = el.files[0];
    var file_name = content_file.name;
    var form_data = new FormData();

    form_data.append('file', content_file);
    form_data.append('file_name', file_name);
    form_data.append('action', 'load_preview_csv_import');
    form_data.append('type_import', type_import);

    $.ajax({
      type: "POST",
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      url: "/preview-import-data",
      processData: false,
      contentType: false,
      data : form_data,
      success: function(response)
      {
        enable_element($("#modal-body"));
        $("#table-preview").html(response)
        
      },
      error: function (xhr, status, e) {
        
        console.log(xhr)
      }
    });
  }

  $('#exampleModal').on('hidden.bs.modal', function (e) {
    $('#exampleModal .body-content').children().remove();
    $("#file").val(''); 
    $("#table-preview").html(''); 
    hide_message('msg-import');
    location.reload();
  });

  function save_import_data(){
    console.log("save_import_data")
    // Loading form
    disable_element($('#modal-body'));
    hide_message('msg-import');

    var el = $("#file")[0];
    var content_file = el.files[0];
    var file_name = content_file.name;
    
    var form_data = new FormData();
    console.log(file_name)

    form_data.append('file', content_file);
    form_data.append('file_name', file_name);
    form_data.append('action', 'save_data');
    form_data.append('type_import', type_import);

    console.log(form_data)
    $.ajax({
      type: "POST",
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      url: "/save-import-data",
      processData: false,
      contentType: false,
      data : form_data,
      success: function(response)
      {
        show_success_message('msg-import','Import data success');

        enable_element($('#modal-body'));
      },
      error: function (xhr, status, e) {
        
        console.log(xhr)
      }
    });
  }

</script>




