<div class="modal fade" id="modalUpdateCabinet"  role="dialog" aria-labelledby="modalUpdateCabinet" aria-hidden="true" data-dropback="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Cabinet Info</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div id="modalUpdateCabinetBody" class="modal-body">
        <div class="body-content">
          
        </div><!--End body content-->
      </div>
      <div class="modal-footer justify-content-start">
        <button onclick="update_cabinet_info();" id="btnUpdateCabinet" class="btn btn-primary" type="button">
          Update</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.modal-->

<script type="text/javascript">

  var is_submit_form_create = false
  $('#modalUpdateCabinet').on('hidden.bs.modal', function (e) {
    $('#modalUpdateCabinetBody .body-content').children().remove();
    if ( is_submit_form_create == true ){
      disable_element($(".table-loading"));
      location.reload();  
    }
  });
  

  $('#modalUpdateCabinet').on('shown.bs.modal', function (e) {
    
    disable_element($("#modalUpdateCabinet .modal-body"))
    //Xử lý option select type_seminar khi mở modal create
    
    $('#btnUpdateCabinet').attr('disabled', true);
    var cabinet_id = $(e.relatedTarget).data('cabinet-id');
    
    $.ajax({
      type: "POST",
      url: "/ajax/load-update-cabinet",
      dataType: "html",
      data : {
        "cabinet_id": cabinet_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}' 
      },
      success : function(response) {
        $('#modalUpdateCabinet .body-content').html(response);
        $('#btnUpdateCabinet').attr('disabled', false);
        
        enable_element($("#modalUpdateCabinet .modal-body"))
      },
      error: function(xhr, status, e) {
        $('#modalUpdateCabinet .body-content').html('Load form failed.');
        enable_element($("#modalUpdateCabinet .modal-body"))
      }
      });
    
  });

  function update_cabinet_info() {
    var cabinet_id = $('#hidden_cabinet_id').val();
    var name = $('#txt_name').val();
    var code = $('#txt_code').val();
    var product_code = $('#txt_product_code').val();
    var qr_code = $('#txt_qr_code').val();
    var number_rectifier = $('#txt_number_rectifier').val();
    var number_module_rectifier = $('#txt_number_module_rectifier').val();
    var site = $('#select_site').val();
    var parent_code = $('#txt_parent_code').val();
    var parent_name = $('#txt_parent_name').val();
    var sdate_use = $('#txt_sdate_use').val();
    var insurance_date = $('#txt_insurance_date').val();
    var fixing_date = $('#txt_fixing_date').val();
    var serial = $('#txt_serial').val();
    var device_conect = $('#txt_device_conect').val();
    var label = $('#txt_label').val();
    var status = $('#select_status').val();
    var rectifier_power = $('#txt_rectifier_power').val();

    $('#btnUpdateCabinet').attr('disabled', true);
    
    hide_message('msg-update-cabinet-info');
    disable_element($("#modalUpdateCabinet .body-content"));
      
    $.ajax({
      type: "POST",
      url: "/ajax/update-cabinet",
      dataType: "html",
      data : {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'cabinet_id': cabinet_id,
        'name': name,
        'code': code,
        'product_code': product_code,
        'qr_code': qr_code,
        'number_rectifier': number_rectifier,
        'number_module_rectifier': number_module_rectifier,
        'site': site,
        'parent_code': parent_code,
        'parent_name': parent_name,
        'sdate_use': sdate_use,
        'insurance_date': insurance_date,
        'fixing_date': fixing_date,
        'serial': serial,
        'device_conect': device_conect,
        'label': label,
        'status': status,
        'rectifier_power': rectifier_power
      },
      success : function(response) {
        $('#btnUpdateCabinet').attr('disabled', false);
        enable_element($("#modalUpdateCabinet .body-content"));
        if (response == 1){
          show_success_message('msg-update-cabinet-info','Update Cabinet Info Success!');
          is_submit_form_create = true
          
        }
        
      },
      error: function(xhr, status, e) {
        $('#modalUpdateCabinet .body-content').html('Load form failed.');
      }
    });
    
  };


    
</script>