


<form action="{{url('mpd_info_delete',args=(obj_mpd.pk,))}}" id="mpd-info-delete-form" method="post">
  <div class="text-center">
    <p style="font-size: 20px;">Are you want to delete MPD Info "{{obj_mpd.name}}"?</p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <input class="btn btn-danger" type="submit" value="Confirm">  
  </div>
</form>

<script type="text/javascript">
  $("input[type='submit']").click(function(){
    disable_element($('#modalDeleteSiteProperty #modalBody'))
  });
</script>
