


<form action="{{url('soh_info_delete',args=(obj_soh.pk,))}}" id="soh-info-delete-form" method="post">
  <div class="text-center">
    <p style="font-size: 20px;">Are you want to delete SOH Info "{{obj_soh.name}}"?</p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <input class="btn btn-danger" type="submit" value="Confirm">  
  </div>
</form>

