
<div class="col-12 p-0" id="time">
  <div>
    <table id="table_soh" class="table table-not-in-card table-wrapper table-hover table-font-small">
      <thead>
        <tr>
          <th class="no-sort">No.</th>
          <th class="no-sort" >Site</th>
          <th class="no-sort" >Num of ACCU</th>
          <th class="no-sort" >Brand</th>
          <th class="" >Voltage</th>
          <th class="" >Capacity</th>
          <th class="" >Time Backup</th>
          <th class="" >DC Consumption</th>
          <th class="" >Active date</th>

        </tr>
      </thead>
      <tbody>
        {% for log_info in list_data_soh %}
        <tr>
          <td class="td-check">{{loop.index}}</td>
          <td class="pt-2 pb-3">{{log_info.site}} </td>
          <td class="pt-2 pb-3">{{log_info.number_of_jar}} </td>
          <td class="pt-2 pb-3">{{log_info.brand}} </td>
          <td class="pt-2 pb-3">{{log_info.voltage}} </td>
          <td class="pt-2 pb-3">{{log_info.capacity}} </td>
          <td class="pt-2 pb-3">{{log_info.backup_time}} </td>
          <td class="pt-2 pb-3">{{log_info.dc_current_consumption}} </td>
          <td class="pt-2 pb-3">{{log_info.day_enter_active}} </td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% block script %}
<script type="text/javascript">

  $(document).ready(function () {

    var option_addition = {
      fixedHeader: {
          header: true,
          headerOffset: $('header').height(),
          pageLength: 50,
      }
    }

    var table = $('#table_soh').DataTable(get_option_datatable(option_addition))

    show_sort_datatable(table)


  });


  
    
</script>
{% endblock %}
