
<div class="col-12 p-0" id="time">
  <div>
    <table id="table_soh_convert" class="table table-not-in-card table-wrapper table-hover table-font-small">
      <thead>
        <tr>
          <th class="no-sort">No.</th>
          <th class="no-sort" >Site</th>
          <th class="no-sort" >Num of ACCU</th>
          <th class="" >Time Backup</th>
          <th class="" >DDM</th>
          <th class="" >DTT</th>
          <th class="" >SOH</th>
          <th class="" >Active date</th>

        </tr>
      </thead>
      <tbody>
        {% for log_info in list_data_soh %}
        <tr>
          <td class="td-check">{{loop.index}}</td>
          <td class="pt-2 pb-3">{{log_info.site}} </td>
          <td class="pt-2 pb-3">{{log_info.number_of_jar}} </td>
          <td class="pt-2 pb-3">{{log_info.backup_time}} </td>
          <td class="pt-2 pb-3">{{log_info.d_dm}} </td>
          <td class="pt-2 pb-3">{{log_info.d_tt}} </td>
          <td class="pt-2 pb-3">{{log_info.SOH}} </td>
          <td class="pt-2 pb-3">{{log_info.day_enter_active}} </td>
  
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% block script %}
<script type="text/javascript">

  


  
    
</script>
{% endblock %}
