<style>
    .row-error {
    background-color: #f6cbd0;
    }
</style>

<div class="row p-0 m-0">
    {% if type_import == 'mpd_info' %}
      {% include 'apps/accu_dashboard/table_modal_preview/table_preview_mpd_info.html' %}
    
    {% elif type_import == 'ats_info' %}
      {% include 'apps/accu_dashboard/table_modal_preview/table_preview_ats_info.html' %}

    {% elif type_import == 'cabinet' %}
      {% include 'apps/accu_dashboard/table_modal_preview/table_preview_cabinet.html' %}
      
    {% elif type_import == 'accu_info' %}
      {% include 'apps/accu_dashboard/table_modal_preview/table_preview_accu_info.html' %}  

    {% elif type_import == 'soh_info' %}
      {% include 'apps/accu_dashboard/table_modal_preview/table_preview_soh_info.html' %}    
    {% endif %}

  </div>

  <script>
      $(document).ready(function () {

        var option_addition = {
        fixedHeader: {
            header: true,
            headerOffset: $('header').height(),
            pageLength: 50,
        }
        }

        var table = $('#table-data-preview').DataTable(get_option_datatable(option_addition))

        show_sort_datatable(table)

        });
  </script>