
<div class="col-12 p-0" id="time-mpd">

  <div>
    <table id="table_log" class="table table-not-in-card table-wrapper table-hover table-font-small">
      <thead>
        <tr>
          <th class="no-sort">No.</th>
          <th class="no-sort" >File Name</th>
          <th class="no-sort" >Num of data</th>
          <th class="" >Created Date</th>
          <th class="" >Action</th>

        </tr>
      </thead>
      <tbody>
        {% for log_info in list_log %}
        <tr>
          <td class="td-check">{{loop.index}}</td>
          <td class="pt-2 pb-3">{{log_info.file_name}} </td>
          <td class="pt-2 pb-3">{{log_info.number_data}} </td>
          <td class="pt-2 pb-3">{{log_info.created_date}} </td>
          <td class="pt-2 pb-3"><button class='btn-sm btn-light btn-sm border' onclick = "del_log('{{log_info.id}}');">Delete</button></td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% block script %}
<script type="text/javascript">

  $(document).ready(function () {

    var option_addition = {
      fixedHeader: {
          header: true,
          headerOffset: $('header').height(),
          pageLength: 50,
      }
    }

    var table = $('#table_log').DataTable(get_option_datatable(option_addition))

    show_sort_datatable(table)


  });


  
    
</script>
{% endblock %}
