{% extends 'registration/base.html' %}

{% block body %}
<h1>LOGIN</h1>
<p class="text-muted">Please input your information.</p>

<form method="post">

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {{ crispy(form) }}

    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary button-submit" type="submit">LOGIN</button>
        </div>
        <div class="col-6 text-right pt-2">
            <a class="pt-2" href="{{url('password_reset')}}">If you forget your password</a>
        </div>
    </div>

</form>
{% endblock body %}

{% block script %}
<script type="text/javascript">
    var is_submit = false;
    $('.button-submit').on('click', function(e) {
        if(is_submit == false){
            is_submit = true;
        }else{
            $(this).prop('disabled', true)
        }
    });
    
</script>
{% endblock %}