<script>
var _start = 1
var _page = 1;
var _search = "";
var _limit_page = 4
var _page_size = 50;
var _sort_column = '';
var _total = parseInt("{{ total }}")
var _sort_type = "{{ sort_type }}";
var _sort_column = "{{ sort_column }}";

// Get Data From URL
var params = new URLSearchParams(window.location.search);
if (params.get("search")) {
  _search = params.get("search")
}

if(params.get("page")){
  _page = parseInt(params.get("page"))
}

if(params.get("page_size")){
  _page_size = parseInt(params.get("page_size"))
}

if(params.get("sort_column")){
  _sort_column = params.get("sort_column")
}

if(params.get("sort_type")){
  _sort_type = params.get("sort_type")
}

var param = { 'search':_search, 'page_size': _page_size, 'sort_column':_sort_column, 'page': _page, 'sort_type': _sort_type, 'self': '' }


if ((_page-1) * _page_size > _total && _page != 1 && _total != 0){
  reset_page({...param, 'page':1});
}

function custom_table(id) {
  // ================================
  // ======== Filter Search =========
  // ================================
  var value_search = `value='${_search}'`
  var html_search = `
  <div class="input-group input-group-sm float-right mb-3" style="width: 200px">
    <input type="text" class="form-control" placeholder="Search" ${value_search} id="input-search">
    <div class="input-group-append">
      <button 
        class="btn btn-light border" 
        type="button"
        onclick="reset_page({...param, 'search': $('#input-search').val(), 'self': 'search'});"
      ><i class="icons cui-magnifying-glass"></i></button>
    </div>
  </div>
  `
  //$(html_search).insertBefore(`#${id}`)

  // ================================
  // ============ Info ==============
  // ================================
  // Tính end item
  var start_item = ( _page * _page_size ) - _page_size + 1
  var end_item = start_item + _page_size - 1

  if (end_item >= _total) {
    end_item = _total
  }

  // Selected page size
  var list_page_size = [25, 50, 100]
  var selected = ''
  var render_list_page_size = list_page_size.map(function(value, index) {
    if (_page_size == value) {
      var selected = 'selected'
    }
    return `<option value="${value}" ${selected}>${value}</option>`
  })

  // =================================
  // ========== Pagination ===========
  // =================================
  // Tổng số page
  var total_page = parseInt(_total / _page_size); 
  var surplus = _total % _page_size; // Số các phần tử dư còn lại sau khi tính số page
  if (surplus != 0 ){
    total_page += 1;
  }

  // Page active
  var html_li_item = ``;
  var list_show_pagi = [];
  var limit_start = parseInt(_page - _limit_page) 

  if (limit_start < 1) {
    limit_start = 1
  }

  var limit_end = parseInt(_page + _limit_page)
  if ( limit_end > total_page ) {
    limit_end = total_page
  }

  for (var i = limit_start; i <= limit_end; i++) {
    var active = ''
    if ( i == _page ) {
      active = 'active'
    }
    var html_item = `<li class="page-item ${active}">
                      <a class="page-link" onclick="reset_page({...param, 'page':${i}, 'self': 'page'})"">${i}</a>
                    </li>`;
    html_li_item += html_item
  }

  if ( limit_start > 0 && limit_start != 1 ) {
    html_li_item = `<li class="page-item">
                      <a class="page-link" >...</a>
                    </li>` + html_li_item
  }

  if ( limit_end < total_page ) {
    html_li_item = html_li_item + `<li class="page-item">
                      <a class="page-link" >...</a>
                    </li>`
  }

  if ( _page != 1 ) {
    html_li_item = `<li class="page-item">
                      <a class="page-link" onclick="reset_page({...param, 'page':${_page - 1}, 'self': 'page'})">Previous</a>
                    </li>` + html_li_item
  } else {
    html_li_item = `<li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>` + html_li_item
  }

  if ( _page != limit_end ) {
    html_li_item = html_li_item + `<li class="page-item">
                      <a class="page-link" onclick="reset_page({...param, 'page':${_page + 1}, 'self': 'page'})">Next</a>
                    </li>`
  } else {
    html_li_item = html_li_item + `<li class="page-item disabled">
                      <a class="page-link">Next</a>
                    </li>`
  }

  var html_info_pagination = `
  <div class="row mt-3 mb-4">
    <div class="col-4">
      <div>
        Showing ${start_item} to ${end_item} of ${_total} entries
      </div>
    </div>
    <div class="col-8 float-right">
      <select id="select_page_size" 
        class='form-control form-control-sm float-right ml-3' 
        style='width: 120px; height: 35px;' 
        onchange="reset_page({...param, 'page_size':$('#select_page_size').val(), 'page':1, 'self': 'page_size'})">
        ${render_list_page_size}
      </select>

      <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
        <ul class="pagination">
          ${html_li_item}
        </ul>
      </div>
    </div>
  </div>`
  
  $(html_info_pagination).insertAfter(`#${id}`)

  var html_table = $(`#${id}`).get(0);
  var html_parent = $(`#${id}`).parent();
  
  var html_wrap = $("<div class='wrap-table'></div>").append(html_table).get(0)

  $(html_parent).prepend(html_wrap);

  $(".page-item:not(:disabled)").css('color', '#20a8d8')

  change_sort();
}

function change_sort() {
  // ================================
  // ============= Sort =============
  // ================================
  $(".img-sort").remove();
  $(".sort").each(function() {
    var sort_column = $(this).data("sort")
    var html = ""
    if (sort_column == _sort_column && _sort_type == "asc") { 
      html_sort = `<img src="/static/img/sort_asc.png" class="ml-1 img-sort" style="width: 7px" onclick="reset_page({...param, 'sort_column':'${sort_column}', 'self': 'sort'})"/>`
      $(html_sort).appendTo($(this))
    } else if (sort_column == _sort_column && _sort_type == "desc") {
      html_sort = `<img src="/static/img/sort_desc.png" class="ml-1 img-sort" style="width: 7px" onclick="reset_page({...param, 'sort_column':'${sort_column}', 'self': 'sort'})"/>`
      $(html_sort).appendTo($(this))
    } else {
      html_sort = `<img src="/static/img/sort_both.png" class="ml-1 img-sort" style="width: 7px" onclick="reset_page({...param, 'sort_column':'${sort_column}', 'self': 'sort'})"/>`
      $(html_sort).appendTo($(this))
    }
  })
}

// Hàm xử lý change sort type
function change_sort_type(sort_type) {
  if (sort_type == 'desc') {
    return sort_type = 'asc'
  } else if (sort_type == "asc") {
    return sort_type = 'desc'
  }
}

// Xử lý add URL
function reset_page(param){
  
  if (param['self'] == 'sort') {
    if (param['sort_column'] == _sort_column) {
      param = {...param, 'sort_type': change_sort_type(_sort_type)}
    } else {
      param = {...param, 'sort_type': 'asc'}
    }

    change_sort();
  }

  var param_filter = ""
  var params = new URLSearchParams(window.location.search);
  var json_param = Object.fromEntries(params);
  const key_param_data_table = ["search", "page_size", "sort_column", "sort_type", "page"];

  for (const key in json_param) {
    if(! key_param_data_table.includes(key)){
      param_filter = param_filter.concat(`&${key}=${json_param[key]}`);
    }
  }

  var pathname = window.location.pathname;
  url = `${pathname}?page=${param['page']}&page_size=${param['page_size']}`

  var date = get_start_date_and_end_date("reportrange");
  _start_date = date.start_date;
  _end_date = date.end_date;
  var filter_date = ''
  if(_start_date && _end_date){
    filter_date = `&start_date=${_start_date}&end_date=${_end_date}`
  }

  location.replace(url+filter_date);
}
</script>