{% extends 'base/base.html' %}
{% block main %}

{% block head %}
<style>
  .select2-container {
    width: unset !important;
  }
</style>
{% endblock %}

<div class="container-fluid mb-4">
    <h2 class="pt-4 font-weight-bold text-mobi">
        Bản Đồ Máy Phát Điện
    </h2>

    <div class="row mt-2">

      <!-- Provice -->
      <div class="col-2">
        <!-- provice -->
        <div class="form-group">
          <label class="mb-1" for="select-provice">Provice</label>
          <select class="form-select form-select-sm me-2" id="id_provice" onchange="add_param()">
            {% for provice in list_provices  %}
                <option value="{{loop.index -1}}" {{ "selected" if request.GET.get('provice') == (loop.index -1)|string }}>{{provice}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    
      <!-- Site -->
      <div class="col-2">
        <!-- Site -->
        <div class="form-group">
          <label class="mb-1" for="select-site">Site</label>
          <select class="form-select form-select-sm me-2" id="site_id" onchange="add_param()">
            <option value="-1" >- Site -</option>
            {% for site in list_sites  %}
                <option value="{{site.pk}}" {{ "selected" if request.GET.get('site') == site.pk|string }}>{{site.pk}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    
      <div class="col-6">
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 mt-3">
        <div id="main-content">
          <div id="map" style="width:100%;height:800px;"></div>
        </div>
      </div>
    </div>
</div>

<input type="hidden" id="list_site_data" value="{{list_site_data}}" />
<input type="hidden" id="number_list_data" value="{{number_list_data}}" />

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV0TyfAqwwmvXdWR593YIBdfE4OHx2MFg&libraries=places&callback=initMap">
</script>
<script type="text/javascript">

$(document).ready(function () {
    update_map();

    $('#id_provice').select2({
      theme: 'bootstrap',
      placeholder: 'Select Provice',
      allowClear: false
    });

    $('#site_id').select2({
    theme: 'bootstrap',
    placeholder: 'Select Site',
    allowClear: false
  });

});
const icon_acquy = "/static/img/electric_generator_img.png";
const icon_anten = "/static/img/antenna_01_img.png";

let map;
let markers = [];

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    //center: { lat: 16.0692333, lng: 108.2047937 },
    zoom: 14,
  });
  

  //update_map()
}

var list_data_test = [];
function update_map(){
    clearMarkers();
    list_data_test = []
    var list_site_data = $("#list_site_data").val();

    var number_list_data = parseInt($("#number_list_data").val()) +1;

    var list_site_data = get_list_data_mpd(1);
    /*for (let i = 0; i <= number_list_data; i++) {
        var list_site_data = get_list_data_mpd(i);

      }*/
    /*list_site_data = list_site_data.replace(/'/g, "\"").toString();
    list_site_data =  JSON.parse(list_site_data);

    list_site_data.forEach((element, index) => {
        addMarkerWithTimeout(element, index*20)
    });*/
};


function addMarkerWithTimeout(position, timeout) {

    // Custom icon
    /*
    const icon = {
        url: "../res/sit_marron.png", // url
        scaledSize: new google.maps.Size(50, 50), // scaled size
        origin: new google.maps.Point(0,0), // origin
        anchor: new google.maps.Point(0, 0) // anchor
    };

    */
  const contentString =
    '<div id="content">' +
      '<h1 id="firstHeading" class="firstHeading">Site : '+position.id+'</h1>' + 

      '<div id="number-mpd"> Số lượng máy phát điện: ' +position.number_mpd +"</div>" +
      '<div id="number-mpd-had-ats"> Số lượng máy phát điện có ATS: ' +position.number_mpd_had_ats +"</div>" +
    "</div>";

    const infowindow = new google.maps.InfoWindow({
    content: contentString,
  });


  var marker = new google.maps.Marker({
        position: {lat: parseFloat(position.lat), lng: parseFloat(position.long)},
        map,
        animation: google.maps.Animation.DROP,
        icon: render_icon(position.is_had_mpd),
        title:position.id ,
        label: {
            text: position.id,
            color: 'white',
            fontSize: "10px"
          }

  })

  marker.addListener("click", () => {
    infowindow.open({
      anchor: marker,
      map,
      shouldFocus: false,
    });
  });

  window.setTimeout(() => {

    markers.push(
      marker
    );
  }, timeout);
}

function render_icon(is_had_mpd) {
  if (is_had_mpd == 1){
    return icon_acquy
  } else{
    return icon_anten
  } 
}

function clearMarkers() {
  for (let i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }

  markers = [];
};


window.initMap = initMap;


function get_list_data_mpd(index){

  var site = $('#site_id').val();
  var id_provice = $('#id_provice').val();

  var param_data = {
    'index' : index,
    'site' : site,
    'provice' : id_provice,
  }

  $.ajax({
        type: "POST",
        dataType: "json",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: '/sites/mpd-map',
        data: {
          'action': 'get_data_map',
          'params': JSON.stringify(param_data)
        },
        success: function (response) {

          var list_site_data = response.list_site_data;
          var data_zoom = response.data_zoom;

          console.log("tttrtrtrtrt",data_zoom)
          console.log("list_site_data",list_site_data)

          // Draw map
          list_site_data.forEach((element, index) => {
              addMarkerWithTimeout(element, index*20)
          });

          moveToLocation(data_zoom.lat, data_zoom.long, data_zoom.is_zoom)
          //list_data_test = list_data_test.concat(response);

          //console.log(list_data_test.length, 'list_data_test')

          return response
        },
        error: function (xhr, status, e) {
        }
    });

}


function moveToLocation(lat, lng, is_zoom){
  console.log("lat", lat) 
  console.log("lng", lng) 
  const center = new google.maps.LatLng(lat, lng);
  // using global variable:
  map.panTo(center);
  if(is_zoom){
    map.setZoom(18)
  }
}

function add_param() {

    var site = $('#site_id').val();
    var id_provice = $('#id_provice').val();

    window.location.search = `?site=${site}&provice=${id_provice}`

};

</script>
{% endblock main %}


