{% extends 'base/base.html' %}
{% block main %}

<div class="container">
    <h1 class="pt-4 text-center font-weight-bold text-primary">
        Site Map
    </h1>
</div>

<div class="row mt-4 mx-4">
  <div class="col-3">
    <button class=" border btn-sm button-daterange-and-btn" onclick="update_map()" style="pointer-events: auto; opacity: 1;">Update map</button>
  </div>
  <div class="col-9 text-right">
    <img src="/static/img/status-accu-high.png" height='29px' class="mr-1"/> Accu Tốt
    <img src="/static/img/status-accu-medium.png" height='29px' class="mr-1 ml-3"/> Accu Vừa
    <img src="/static/img/status-accu-low.png" height='29px' class="mr-1 ml-3"/> Accu Kém
  </div>
  <div class="col-12 mt-3">
    <div id="main-content">
      <div id="map" style="width:100%;height:800px;"></div>
    </div>
  </div>
</div>

<input type="hidden" id="list_site_data" value="{{list_site_data}}" />

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV0TyfAqwwmvXdWR593YIBdfE4OHx2MFg&libraries=places&callback=initMap">
</script>
<script type="text/javascript">


$(document).ready(function () {

    update_map();

});
const icon_status_accu_high = "/static/img/status-accu-high.png";
const icon_status_accu_medium = "/static/img/status-accu-medium.png";
const icon_status_accu_low = "/static/img/status-accu-low.png";
let map;
let markers = [];

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 16.0692333, lng: 108.2047937 },
    zoom: 14,
  });
  

  // new google.maps.Marker({
  //   position: { lat: 16.0692333, lng: 108.2047937 },
  //   map,
  //   icon: image_icon_marker,
  //   title:'site abc',
  // });

  update_map()
}


function update_map(){
    clearMarkers();

    var list_site_data = $("#list_site_data").val();
  
    list_site_data = list_site_data.replace(/'/g, "\"").toString();
    list_site_data =  JSON.parse(list_site_data);
    console.log(list_site_data)

    list_site_data.forEach((element, index) => {
        addMarkerWithTimeout(element, index*10)
    });
};


function addMarkerWithTimeout(position, timeout) {

    // Custom icon
    /*
    const icon = {
        url: "../res/sit_marron.png", // url
        scaledSize: new google.maps.Size(50, 50), // scaled size
        origin: new google.maps.Point(0,0), // origin
        anchor: new google.maps.Point(0, 0) // anchor
    };

    */
  window.setTimeout(() => {

    markers.push(
      new google.maps.Marker({
        position: {lat: parseFloat(position.lat), lng: parseFloat(position.long)},
        map,
        animation: google.maps.Animation.DROP,
        icon: render_icon(position.status),
        title:position.id ,

      })
    );
  }, timeout);
}

function render_icon(status) {
  if (status == "high"){
    return icon_status_accu_high
  } else if (status == "medium") {
    return icon_status_accu_medium
  } else if (status == "low") {
    return icon_status_accu_low
  } else {
    return ""
  }
}

function clearMarkers() {
  for (let i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }

  markers = [];
};


window.initMap = initMap;



</script>
{% endblock main %}


